## Exercise 2.3.

In [1]:
#2

print("Price: ", 90, '%', sep = "")

Price: 90%

In [2]:
#4

print("Py", "th", "on", sep = "")

Python

In [4]:
# 6

print("tic", "tac", "toe", sep = '-')

tic-tac-toe

In [5]:
# 8

print("one", " two", " three", sep = ',')

one, two, three

In [6]:
# 10

print("spam", end = ' and ')
print("eggs")

spam and eggs

In [7]:
# 12

print("on", "site", sep = '-', end = '')
print("repair")

on-siterepair

In [8]:
# 14

print("Hello\n", end = ',')
print("World!")

Hello
,World!

In [9]:
# 16
print("1\t2\t3")
print("\tDetroit\tLions")
print("Indiana\t\tColts")

1	2	3
	Detroit	Lions
Indiana		Colts

In [10]:
# 18

print("COUNTRY\t", "LAND AREA")
print("India\t", 2.5, "million sq km")
print("China\t", 9.6, "million sq km")

COUNTRY	 LAND AREA
India	 2.5 million sq km
China	 9.6 million sq km

In [12]:
# 20

print("STATE\tCAPITAL".expandtabs(15))
print("North Dakota\tBismarck".expandtabs(15))
print("South Dakota\tPierre".expandtabs(15))

STATE          CAPITAL
North Dakota   Bismarck
South Dakota   Pierre

In [15]:
# 22

print("01234567890123456")
print("one".center(7), "two".ljust(4), "three".rjust(6), sep = "")

01234567890123456
  one  two  three

In [17]:
# 24

print("01234567890123456")
print("{0:>5s}{1:^5s}{2:>7s}".format("one", "two", "three"))

01234567890123456
  one two   three

In [21]:
# 26

print("0123456789")
print("{0:10.1%}".format(.123))
print("{0:^10.1%}".format(1.23))
print("{0:<10,.1%}".format(12.3))

0123456789
     12.3%
  123.0%
1,230.0%

In [27]:
# 28

print("{0:,.0f}".format(1234.567))

1,235

In [29]:
# 30
print("${0:,.2f}".format(1234))

$1,234.00

In [34]:
# 32

print("{0:14s}{1:s}".format("Major", "Percent of Students"))
print("{0:14s}{1:10.1%}".format("Biology", .062))
print("{0:14s}{1:10.1%}".format("Nursing", .047))

Major         Percent of Students
Biology             6.2%
Nursing             4.7%

In [35]:
# 34

print("Plan {0:s}, code {1:s}".format("first", "later"))

Plan first, code later

In [36]:
#36

print("And now for {0:s} completely {1:s}.".format("something", "different"))

And now for something completely different.

In [40]:
print("And now for {1} completely {0}.".format("something", "different"))

And now for different completely something.

In [41]:
# 38

str1 = "{0:s} has {1:.1f} billion users in the world."
print(str1.format("Facebook", 1.3))

Facebook has 1.3 billion users in the world.

In [42]:
# 40

pi = 3.14159265898
print("Pi is approximately {0:.3f}.".format(pi))

Pi is approximately 3.142.

In [44]:
# 42

areaOfCanada = 9984670
popOfCanada = 35344962
str1 = "The population of Canada is {0:.3f} people per km square."
print(str1.format(popOfCanada / areaOfCanada))

The population of Canada is 3.540 people per km square.

In [45]:
# 44

str1 = "{0:.0%} of the members of the U.S. Senate are from {1:s}."
print(str1.format(12 / 100, "New England"))

12% of the members of the U.S. Senate are from New England.

In [46]:
# 46

str1 = "The area of {0:s} is {1:.1%} of the area of the U.S."
print(str1.format("Canada", 9984670 / 3794000))

The area of Canada is 263.2% of the area of the U.S.

In [47]:
# 48

print("When you have {0:s} to {1:s}, {1:s} {0:s}.".format("nothing", "say"))

When you have nothing to say, say nothing.

In [48]:
# 50

str1 = "If {0:s} dream it, {0:s} do it. - Walt Disney"
print(str1.format("you can"))

If you can dream it, you can do it. - Walt Disney

In [49]:
# 52

print("Hello\tWorld!")
print("Hello\tWorld!".expandtabs(8))

Hello	World!
Hello   World!

In [50]:
# 54

annualRevenue = eval(input("Enter revenue: "))
annualExpenses = eval(input("Enter expenses: "))
netIncome = annualRevenue - annualExpenses
print("Net income: ${0:,.2f}".format(netIncome))

Enter revenue: 550000
Enter expenses: 410000
Net income: $140,000.00

In [54]:
# 56

beginningSalary = eval(input("Enter beginning salary: "))
newSalary = beginningSalary*(1.05)**3
changeOfSalary = newSalary / beginningSalary - 1
print("New salary: ${0:,.2f}".format(newSalary))
print("Change: {0:.2%}".format(changeOfSalary))

Enter beginning salary: 35000
New salary: $40,516.88
Change: 15.76%

In [55]:
# 58

futureValue = eval(input("Enter future value: "))
interestRate = eval(input("Enter interest rate (as %): "))
numberOfYears = eval(input("Enter number of years: "))
presentValue = futureValue / (1+interestRate/100)**numberOfYears
print("Present value: ${0:,.2f}".format(presentValue))

Enter future value: 10000
Enter interest rate (as %): 4
Enter number of years: 6
Present value: $7,903.15

## Exercise 2.4.

In [12]:
countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

In [13]:
# 2

print(countries[3],
     countries[-3])

Brazil Cameroon

In [14]:
# 4

print(len(countries))

20

In [15]:
# 6

print(countries.index("Cameroon"))

17

In [16]:
# 8

print(countries.index(countries[10]))

10

In [17]:
# 10

print(countries[0].upper())

JAPAN

In [18]:
# 12

countries.insert(5, "Germany")
print(countries[5])

Germany

In [19]:
# 14

countries.insert(11, "Nepal")
print(countries.index("Ghana"))

13

In [20]:
countries

['Japan',
 'India',
 'Algeria',
 'Brazil',
 'Angola',
 'Germany',
 'England',
 'Argentina',
 'Portugal',
 'China',
 'Australia',
 'Nepal',
 'Austria',
 'Ghana',
 'Bahamas',
 'Bangladesh',
 'Belgium',
 'Bhutan',
 'Bosnia',
 'Cameroon',
 'Canada',
 'Denmark']

In [21]:
# 16
del countries[3]
print(countries.index("Argentina"))

6

In [1]:
#18

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[-1:4])

[]

In [2]:
#20

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[4:-1])

['Angola', 'England', 'Argentina', 'Portugal', 'China', 'Australia', 'Austria', 'Ghana', 'Bahamas', 'Bangladesh', 'Belgium', 'Bhutan', 'Bosnia', 'Cameroon', 'Canada']

In [3]:
#22

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[10:])

['Austria', 'Ghana', 'Bahamas', 'Bangladesh', 'Belgium', 'Bhutan', 'Bosnia', 'Cameroon', 'Canada', 'Denmark']

In [4]:
#24

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[:-1])

['Japan', 'India', 'Algeria', 'Brazil', 'Angola', 'England', 'Argentina', 'Portugal', 'China', 'Australia', 'Austria', 'Ghana', 'Bahamas', 'Bangladesh', 'Belgium', 'Bhutan', 'Bosnia', 'Cameroon', 'Canada']

In [5]:
#26

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[-1:-4])

[]

In [6]:
#28

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[-2:len(countries)])

['Canada', 'Denmark']

In [8]:
#30

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[-4])
print(countries[-4][-4])

Bosnia
s

In [11]:
#32

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(len(countries[-20:]))
print(len(countries))

20
20

In [12]:
#34

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(len(countries[:]))
print(len(countries))

20
20

In [13]:
#36

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(len(countries[2:-2]))

16

In [15]:
#38

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

countries.append(["New Zealand", "Norway"])
countries

['Japan',
 'India',
 'Algeria',
 'Brazil',
 'Angola',
 'England',
 'Argentina',
 'Portugal',
 'China',
 'Australia',
 'Austria',
 'Ghana',
 'Bahamas',
 'Bangladesh',
 'Belgium',
 'Bhutan',
 'Bosnia',
 'Cameroon',
 'Canada',
 'Denmark',
 ['New Zealand', 'Norway']]

In [16]:
countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

countries.extend(["New Zealand", "Norway"])
countries

['Japan',
 'India',
 'Algeria',
 'Brazil',
 'Angola',
 'England',
 'Argentina',
 'Portugal',
 'China',
 'Australia',
 'Austria',
 'Ghana',
 'Bahamas',
 'Bangladesh',
 'Belgium',
 'Bhutan',
 'Bosnia',
 'Cameroon',
 'Canada',
 'Denmark',
 'New Zealand',
 'Norway']

In [17]:
# 40
countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

countries[1] = "Poland"


print(countries[:3])

['Japan', 'Poland', 'Algeria']

In [18]:
countries

['Japan',
 'Poland',
 'Algeria',
 'Brazil',
 'Angola',
 'England',
 'Argentina',
 'Portugal',
 'China',
 'Australia',
 'Austria',
 'Ghana',
 'Bahamas',
 'Bangladesh',
 'Belgium',
 'Bhutan',
 'Bosnia',
 'Cameroon',
 'Canada',
 'Denmark']

In [30]:
# 42
countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print(countries[-4].split())
print(list(countries[-4]))
countries.insert(-1, "South Korea")
print(countries[-3:])

['Bosnia']
['B', 'o', 's', 'n', 'i', 'a']
['Canada', 'South Korea', 'Denmark']

In [28]:
# 44

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

print((',').join(countries[1:4]))

India,Algeria,Brazil

In [31]:
# 46

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

countries.remove(countries[-4])
print(countries[-4])

Bhutan

In [33]:
# 48

countries = ["Japan", "India", "Algeria", "Brazil", "Angola", "England", "Argentina",
            "Portugal", "China", "Australia", "Austria", "Ghana", "Bahamas", "Bangladesh",
            "Belgium", "Bhutan", "Bosnia", "Cameroon", "Canada", "Denmark"]

countries.append("Spain")
print(countries[-1])

Spain

In [35]:
list1 = [i for i in range(100)]
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [37]:
# 50

len(list1[:8])

8

In [38]:
# 52

len(list1[-8:-1])

7

In [39]:
# 54

len(list1[1:-1])

98

In [43]:
# 55~58

nums = [6,2,8,0]

print("Largest Number: ", max(nums))
print("Length: ", len(nums))
print("Total: ", sum(nums))
print("Number lot: ", sum(nums) / len(nums))

Largest Number:  8
Length:  4
Total:  16
Number lot:  4.0

In [44]:
# 60

L = ["one", "for", "all"]
L[0], L[-1] = L[-1], L[0]
print(L)

['all', 'for', 'one']

In [46]:
# 62
name = input("Enter name with three parts: ")
L = name.split()
print(L)
print(L[0], L[2])

Enter name with three parts: Guido van Rossum
['Guido', 'van', 'Rossum']
Guido Rossum

In [48]:
# 64

list1 = ['h', 'o', 'n', 'P', 'y', 't']
list2 = list1[3:]+list1[:3]
print(list2)
print(("").join(list2))

['P', 'y', 't', 'h', 'o', 'n']
Python

In [49]:
# 66

list1 = ["is", "Less", "more."]
list1[0], list1[1] = list1[1], list1[0]
print(list1)
print(" ".join(list1))

['Less', 'is', 'more.']
Less is more.

In [50]:
# 68

carousel = ["merry", "go", "round"]
print(('-').join(carousel))

merry-go-round

In [51]:
# 70

allDay = "around-the-clock"
print(allDay.split('-'))

['around', 'the', 'clock']

In [52]:
# 72

nations = "France\nEngland\nSpain"
countries = nations.split()
print(countries)

['France', 'England', 'Spain']

In [58]:
# 74

outfile = open("Abc.txt", 'w')
outfile.write("a b\n")
outfile.write("c\n")
outfile.write("d\n")
outfile.close()

infile = open("Abc.txt", 'r')
alpha = [line.rstrip() for line in infile]
infile.close()
word = ("").join(alpha)
print(word)

a bcd

In [59]:
outfile = open("Abc1.txt", 'w')
L = ["a b\n", "c\n", "d\n"]
outfile.writelines(L)
outfile.close()

infile = open("Abc1.txt", 'r')
alpha = [line.rstrip() for line in infile]
infile.close()
word = ("").join(alpha)
print(word)

a bcd

In [64]:
# 76

outfile = open("Live.txt", 'w')
outfile.write("Live\n")
outfile.write("let\n")
outfile.close()

infile = open("Live.txt", 'r')
words = [line.rstrip() for line in infile]
infile.close()
words.append(words[0].lower())
quote = ("! ").join(words) + "!"
print(quote)

Live! let! live!

In [65]:
# 78

nums = (6, 2, 8, 0)
print("Largest Number:", max(nums))
print("Length:", len(nums))
print("Total:", sum(nums))
print("Number list:", list(nums))

Largest Number: 8
Length: 4
Total: 16
Number list: [6, 2, 8, 0]

In [70]:
# 80

word = "diary"
list1 = list(word)
print(list1)
list1.insert(3, list1[1])
print(list1)
del list1[1]
print(list1)
word = "".join(list1)
print(word)

['d', 'i', 'a', 'r', 'y']
['d', 'i', 'a', 'i', 'r', 'y']
['d', 'a', 'i', 'r', 'y']
dairy

In [67]:
list1

['d', 'a', 'i', 'r', 'y']

In [71]:
# 82

nums = [-5, 17, 123]
print(tuple(nums))

(-5, 17, 123)

In [72]:
# 84

t = (1,2,3)
t = (0,) + t[1:]
print(t)

(0, 2, 3)

In [73]:
# 86
list1 = ["soprano", "tenor"]
list2 = ["alto", "bass"]
print(list1 + list2)

['soprano', 'tenor', 'alto', 'bass']

In [74]:
# 88

list1 = ["gold"]
list2 = ["silver", "bronze"]
list1.extend(list2)
print(list1)

['gold', 'silver', 'bronze']

In [75]:
# 90

list1 = [0]
print(list1*4)

[0, 0, 0, 0]

In [76]:
# 92
ships = ["Nina", "Pinta", "Santa Maria"]
print(ships[-5:2])

['Nina', 'Pinta']

In [78]:
# 94
numbers = (3,5,7,7,3)
location = numbers.index(7)
location

2

In [79]:
# 96

word = "sea"
word[1] = 'p'
print(word)

TypeError: 'str' object does not support item assignment

In [80]:
# 98

virtues = ("wisdom", "courage", "temperance", "justice")
print(virtues[4])

IndexError: tuple index out of range

In [81]:
# 100

words = ("Keep", "cool", "but", "don't")
words.append("freeze.")
print(words)

AttributeError: 'tuple' object has no attribute 'append'

In [86]:
# 102

sentence = input("Enter a sentence: ")
firstWord = sentence.split()[0]
lastWord = sentence.split()[-1]
lastWord = list(lastWord)
del lastWord[-1]
lastWord = "".join(lastWord)
print("First word: ", firstWord)
print("Last word: ", lastWord)

Enter a sentence: Reach for the stars.
First word:  Reach
Last word:  stars