## Chapter 2-3. Output(출력)

## 1) print 함수 및 sep 인자
- 값이 문자열이나 숫자인 print(value0, value1, value2, ..., valueN) 형태의 명령은 공백으로 구분된 연속된 값으로 된 값을 화면상에 표시함.
- sep 인자를 이용하여 우리가 원하는 구분자를 변경할 수 있음.

In [122]:
print("Hello", "World", "Python")

Hello World Python

In [123]:
print("Hello", "World", "Python", sep = '*')

Hello*World*Python

In [124]:
print("Hello", "World", "Python", sep='')

HelloWorldPython

In [39]:
print("Hello", "World", "Python", sep=' - ')

Hello - World - Python

In [126]:
print("012345678901234567890123456789")
print("Rank".ljust(5), "Player".ljust(20), "HR".rjust(5), sep= "")
print('1'.center(5), "Barry Bonds".ljust(20), "762".rjust(5), sep="")
print('2'.center(5), "Hank Aaron".ljust(20), "755".rjust(5), sep="")
print('3'.center(5), "Babe Ruth".ljust(20), "714".rjust(5), sep="")

012345678901234567890123456789
Rank Player                 HR
  1  Barry Bonds           762
  2  Hank Aaron            755
  3  Babe Ruth             714

## 2) end 인자
- print(value0, value1, value2, ..., valueN, end=endString) 형태의 명령은 value0부터 valueN까지 화면상에 출력한 후 endString를 신규 행 연산없이 동일한 행에 표시함.

In [130]:
print("Hello")
print("World!!")

Hello
World!!

In [129]:
print("Hello", end= ' ')
print("World!!")

Hello World!!

In [42]:
print("Hello", end = '')
print("World!!")

HelloWorld!!

## 3) 이스케이프 시퀸스
- 커서를 지시하거나 몇 개의 특수문자를 출력하도록 하는 문자열 내에 위치하는 짧은 시퀀스임.
- \t: 수평 탭
- \n: 신규 라인 연산 유도

In [134]:
print("01234567890123456")
print("a\tb\tc")
print("a\tb\tc".expandtabs(5))
print("Nudge, \tnudge, \nwink, \twink.".expandtabs(11))

01234567890123456
a	b	c
a    b    c
Nudge,     nudge,
wink,      wink.

## 4) format 메소드로 출력물 정리하기
- str1이 문자열이고, w가 폭이라면 다음은 동일한 결과를 반환함.
    - print("{0:<ws}".format(str1) --> print(str1.ljust(w))
    - print("{0:^ws}".format(str1) --> print(str1.center(w))
    - print("{0:>ws}".format(str1) --> print(str1.rjust(w))
- num이 숫자이고, w가 폭이라면 다음은 동일한 결과를 반환함.
    - print("{0:<wn}".format(num)) --> print(str(num).ljust(w))
    - print("{0:^wn}".format(num)) --> print(str(num).center(w))
    - print("{0:>wn}".format(num)) --> print(str(num).rjust(w))

In [151]:
print("0123456789012345678901234567")
print("{0:<5s}{1:<20s}{2:>3s}".format("Rank", "Player", "HR"))
print("{0:^5n}{1:<20s}{2:>3n}".format(1, "Barry Bonds", 762))
print("{0:^5n}{1:<20s}{2:>3n}".format(2, "Hank Aaron", 755))
print("{0:^5n}{1:<20s}{2:>3n}".format(3, "Babe Ruth", 714))

0123456789012345678901234567
Rank Player               HR
  1  Barry Bonds         762
  2  Hank Aaron          755
  3  Babe Ruth           714

In [136]:
print("0123456789012345678901234567")
print("Rank".ljust(5), "Player".ljust(20), "HR".rjust(3), sep= "")
print('1'.center(5), "Barry Bonds".ljust(20), "762".rjust(3), sep="")
print('2'.center(5), "Hank Aaron".ljust(20), "755".rjust(3), sep="")
print('3'.center(5), "Babe Ruth".ljust(20), "714".rjust(3), sep="")

0123456789012345678901234567
Rank Player               HR
  1  Barry Bonds         762
  2  Hank Aaron          755
  3  Babe Ruth           714

- 숫자 출력 형식을 설정할 때, 숫자 형식에 해당하는 괄호 안에 문자 n을 사용하는 것보다 정수에는 문자 d를 사용하고, 소수점 문자에는 문자 f를 사용함.
- 퍼센트로 표시되도록 하기 위해 부호 %를 사용함.
- 폭 다음에 콤마를 삽입하여 천 단위 구분자를 설정할 수 있음.

In [46]:
print("{0:<10d}".format(12345678)) # 숫자는 정수

12345678

In [47]:
print("{0:<10,d}".format(12345678)) # 천 단위 구분자 추가됨

12,345,678

In [48]:
print("{0:<10.2f}".format(1234.5678)) # 반올림

1234.57

In [49]:
print("{0:<10,.2f}".format(1234.5678)) # 반올림 후 천 단위 구분자 추가

1,234.57

In [50]:
print("{0:<10,.3f}".format(1234.5678)) # 반올림 후 천 단위 구분자 추가

1,234.568

In [51]:
print("{0:<10.2%}".format(12.345678)) # %로 변환 후 반올림

1234.57%

In [52]:
print("{0:10,.3%}".format(12.3456789)) # %, 반올림, 천 단위 구분자 추가

1,234.568%

In [53]:
print("The area of {0:s} is {1:,d} square miles.".format("Texas", 268820))
str1 = "The population of {0:s} is {1:.2%} of the U.S. population."
print(str1.format("Texas", 26448000 / 309000000))

The area of Texas is 268,820 square miles.
The population of Texas is 8.56% of the U.S. population.

- 문자열 '{}+{}={}' 내부에서 중괄호 {}이 위치한 부분에 format(3, 4, 3+4) 인자인 3, 4, 7이 순서대로 출력됨.
- 문자열에서 {}을 제외한 나머지 부분인 '+ ='은 쓰여있는 그대로 출력됨.

In [54]:
'{}+{}={}'.format(3, 4, 3+4)

'3+4=7'

In [55]:
a, b = 10, 4
print('{}*{}={}'.format(a,b,a*b))

10*4=40

- {} 안에 정수를 삽입하면 인자의 순서와 출력의 순서를 조정할 수 있음.

In [56]:
print('{0} / {1} = {2}'.format(a, b, a/b))

10 / 4 = 2.5

In [57]:
print('{1} / {0} = {2}'.format(a, b, b/a))

4 / 10 = 0.4

In [58]:
a, b = 10, 3
print('{0:d} / {1:d} = {2:.7f}'.format(a, b, a / b))
print('{0:^5d} / {1:>5d} = {2:<10.3f}'.format(a, b, a / b))

10 / 3 = 3.3333333
 10   /     3 = 3.333

## Chapter 2-4. Lists, Tuples and Files
- 파이썬의 핵심객체에는 숫자, 문자열, 리스트, 튜플, 세트, 딕셔너리가 있음.
- 본 장에서는 리스트와 튜플에 대해 학습함.

## 1) List(리스트)
- 리스트는 숫자나 문자열 등의 객체가 정렬된 데이터 형태임. 
- 객체 내 구성요소가 동일한 유형을 가질 필요는 없음.
- 예를 들어, 숫자나 문자열만으로 리스트를 구성할 수도 숫자나 문자열을 섞어서 리스트를 구성할 수도 있음.
    - ["Seahawks", 2014, "CenturyLink Field"]
    - [ 5, 10, 4, 5]
    - ["spam", "ni"]

In [72]:
team = ["Seahawks", 2014, "CentryLink Field"]
nums = [ 5, 10, 4, 5]
words = ["spam", "ni"]

In [60]:
len(words) # 리스트 내 아이템 개수

2

In [61]:
max(nums) # 리스트 내 항목 중 최대값

10

In [62]:
min(nums) # 리스트 내 항목 중 최소값

4

In [63]:
sum(nums) # 리스트 내 항목을 더한 값

24

In [64]:
nums.count(5) # 리스트 내 특정 항목의 개수

2

In [65]:
nums.index(4) # 리스트 내 특정 항목의 인덱스 값

2

In [66]:
# 리스트 배열을 역순으로 변경

words.reverse()
words

['ni', 'spam']

In [152]:
# 리스트 내 항목들을 모두 제거
team = ["Seahawks", 2014, "CentryLink Field"]
team.clear()
team

[]

In [68]:
# 리스트 항목에 특정 항목을 추가
nums.append(7)
nums

[5, 10, 4, 5, 7]

In [69]:
# 기존 리스트에 특정 리스트를 추가
nums.extend([1,2])
nums

[5, 10, 4, 5, 7, 1, 2]

In [153]:
# 리스트 내 특정 항목을 제거
team = ["Seahawks", 2014, "CentryLink Field"]
del team[-1]
team

['Seahawks', 2014]

In [154]:
# 리스트 내 항목 중 인덱스 값이 작은 특정 값을 제거
nums = [5, 10, 4, 5]
nums.remove(5)
nums

[10, 4, 5]

In [155]:
# 특정 위치에 특정값을 삽입
words = ["spam", "ni"]
words.insert(1, "wink")
words

['spam', 'wink', 'ni']

In [156]:
# 문자열처럼 리스트도 '+' 연산자로 두 개의 리스트를 합치는 것이 가능
['a', 1] + [1, 2, 'b']

['a', 1, 1, 2, 'b']

In [77]:
# 리스트 내 특정값을 '*' 연산자를 이용해 반복해서 나타내는 것 가능
[0]*3

[0, 0, 0]

In [79]:
# 리스트 내에 리스트가 항목으로 들어갈 수 있음.
[1, 2, [3, 3, 4, [2, 'b']]]

[1, 2, [3, 3, 4, [2, 'b']]]

In [80]:
# list() 함수를 이용해 문자열을 리스트 변환가능
print(list('python'))
print(list('한양대학교'))

['p', 'y', 't', 'h', 'o', 'n']
['한', '양', '대', '학', '교']

In [157]:
# Ex.1

grades = []
num = float(input("Enter the first grade: "))
grades.append(num)
num = float(input("Enter the second grade: "))
grades.append(num)
num = float(input("Enter the third grade: "))
grades.append(num)
num = float(input("Enter the fourth grade: "))
grades.append(num)
num = float(input("Enter the fifth grade: "))
grades.append(num)
minimumGrade = min(grades)
grades.remove(minimumGrade)
minimumGrade = min(grades)
grades.remove(minimumGrade)
average = sum(grades)/len(grades)
print("Average Grade: {0:.2f}".format(average))

Enter the first grade: 90
Enter the second grade: 95
Enter the third grade: 80
Enter the fourth grade: 70
Enter the fifth grade: 80
Average Grade: 88.33

## 2) 리스트 인덱싱
- 리스트에서 첨자(index)를 사용해 항목 하나하나를 참조할 수 있음.
- 첨자는 정수여야 하며, 이는 문자열에서 배운 첨자 방식과 동일함.

In [82]:
a = [1,2,3,4,5]
a[0]

1

In [83]:
a[2]

3

In [84]:
a[-1]

5

In [85]:
b = list('python')
print(b[0], b[4])
print(b[-1], b[-4])

p o
n t

In [158]:
b

['p', 'y', 't', 'h', 'o', 'n']

In [86]:
pl = ['C', 'C++', 'Python', 'JAVA']
print(pl[0], pl[2])
print(pl[-1], pl[-3])

C Python
JAVA C++

- 다음과 같이 입력함으로써 인덱스 i에 있는 값을 변경할 수 있음.
    - listName[i] = newValue

In [159]:
a = ["한양", "대학교", "재료공학과"]
a[2] = "산업경영공학과"
a

['한양', '대학교', '산업경영공학과']

In [88]:
words = ["spam", "ni"]

words[1] = "eggs"
words

['spam', 'eggs']

- 인덱스의 범위를 벗어나는 경우

In [89]:
a = [38, 21, 53, 62, 19]
a[5]

IndexError: list index out of range

In [90]:
a[5] = 10
a

IndexError: list assignment index out of range

- 리스트 마지막 요소에 접근

In [91]:
a = [38, 21, 53, 62, 19]
len(a)

5

In [92]:
a[5]

IndexError: list index out of range

In [93]:
a[len(a)]

IndexError: list index out of range

In [94]:
# 리스트 마지막 요소에 접근하는 방법
a[len(a)-1]

19

## 3) 리스트 슬라이싱
- list[m:n] --> list의 인덱스 m부터 인덱스 n-1까지의 항목으로 구성
- list[:] --> list의 모든 항목으로 구성
- list[m:] --> list의 인덱스 m부터 끝까지의 항목으로 구성
- list[:n] --> list의 첫항목부터 인덱스 n-1까지의 항목으로 구성

In [95]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']

In [96]:
list1[1:3]

['b', 'c']

In [97]:
list1[-4:-2]

['c', 'd']

In [98]:
list1[:4]

['a', 'b', 'c', 'd']

In [99]:
list1[4:]

['e', 'f']

In [100]:
list1[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [101]:
del list1[1:3]
list1

['a', 'd', 'e', 'f']

In [102]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list1[2:len(list1)]

['c', 'd', 'e', 'f']

In [103]:
(list1[1:3])[1]

'c'

In [104]:
list1[3:2]

[]

## 4) split & join 메소드
- strVar이 "value0, value1, value2, value3,...,valueN"으로 구성된 문자열이라고 할 때,
- split 메소드는 strVar 문자열을 리스트로 구성함.
    - L = strVar.split(",")
    - ",", "\n", " " 등이 separator로 사용됨.
    - separator가 지정되지 않은 경우에는 "\n"(new line), "\t"(vertical tab), " "(space) 등의 whitespace를 인식함.
- 반대로 join 메소드는 리스트 항목을 문자열로 구성함.
    - strVar = ",".join(L)

In [160]:
# Ex.2

print("a,b,c".split(','))
print("a**b**c".split('**'))
print("a\nb\nc".split())
print("a b c".split())
print("a\tb\tc".split())

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [106]:
# Ex.3
line = ["To", "be", "or", "not", "to", "be."]
print(" ".join(line))
krispies = ["Snap", "Crackle", "Pop"]
print(", ".join(krispies))

To be or not to be.
Snap, Crackle, Pop

In [161]:
line = ["To", "be", "or", "not", "to", "be."]
" ".join(line)

'To be or not to be.'

In [162]:
krispies = ["Snap", "Crackle", "Pop"]
", ".join(krispies)

'Snap, Crackle, Pop'

## 5) Tuples(튜플)
- 튜플도 리스트와 마찬가지로 숫자나 문자열 등의 객체가 순서대로 나열된 시퀀스임.
- 튜플과 리스트의 가장 큰 차이점은 튜플은 수정이 어렵다는 점이라고 할 수 있음.
- 즉, 튜플에는 append, extend, insert 등의 메소드가 없음.
- 튜플에 있는 항목은 삭제하거나 수정할 수 없음.
- 튜플도 슬라이싱(slicing), 합치기(concatenation), 반복(repeat) 기능이 있음.
- 튜플은 다음과 같이 생성할 수 있음. 괄호 ()를 사용하여 튜플을 생성함.
    - t = ('a', 'b', 'c') or t = 'a', 'b', 'c'

In [ ]:
t = ('a', 'b', 'c')

In [163]:
t1 = 'a', 'b', 'c'
t1

('a', 'b', 'c')

In [164]:
type(t1)

tuple

In [165]:
# 괄호를 생략해도 튜플이 됨.

t = 'a', 'b', 'c'
t

('a', 'b', 'c')

In [166]:
type(t)

tuple

In [167]:
t[0]

'a'

In [168]:
t[1]

'b'

In [169]:
t[2]

'c'

In [170]:
t[0] = 'd'
t

TypeError: 'tuple' object does not support item assignment

In [171]:
t = 5, 7, 6, 2
print(t)
print(len(t), max(t), min(t), sum(t))
print(t[0], t[-1], t[:2])

(5, 7, 6, 2)
4 7 2 20
5 2 (5, 7)

In [177]:
(3,)*3

(3, 3, 3)

In [173]:
(3,3)*3

(3, 3, 3, 3, 3, 3)

In [174]:
(1,2)+('a','b','c')

(1, 2, 'a', 'b', 'c')

In [178]:
# Ex.5
x = 5
y = 6
x, y = y, x
x, y

(6, 5)

## 6) Nested Lists
- 리스트나 튜플 안에는 숫자나 문자열이 항목으로 구성되지만, 그 안에 리스트나 튜플이 항목으로 구성될 수도 있음.
- 만약 L이 튜플로 이루어진 리스트라고 하면, L[0]는 첫번째 튜플을 의미하고, L[0][0]은 첫번째 튜플의 첫번째 데이터를 의미함.
- L[-1][-1]은 마지막 튜플의 마지막 데이터를 의미함.

In [179]:
a = [[1,2,3], [4,5]]
a[0][0]

1

In [180]:
a[0][1]

2

In [181]:
a[1][0]

4

In [182]:
# Ex.6

regions = [("Northeast", 55.3), ("Midwest", 66.9),
          ("South", 114.6), ("West", 71.9)]
print("The 2010 population of the", regions[1][0], 'was', regions[1][1], 'million.')
totalPop = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]
print("Total 2010 population of the U.S: {0:.1f} million.".format(totalPop))

The 2010 population of the Midwest was 66.9 million.
Total 2010 population of the U.S: 308.7 million.

## 7) Files
- txt 파일로부터 list 만드는 것이 가능함.
- 실행파일 동일한 폴더에 Data.txt 파일을 만들고 아래와 같은 코드를 실행

In [183]:
infile = open("Data.txt", 'r')
L = [line.rstrip() for line in infile]
infile.close()

In [184]:
L

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [185]:
infile = open("Data.txt", 'r')
L = [eval(line) for line in infile]
infile.close()

L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
f = open("Data2.txt", 'w')
for i in range(1, 11):
    data = "%d\n" % i
    f.write(data)
f.close()

In [ ]:
infile = open("Data2.txt", 'r')
L = [eval(line.rstrip()) for line in infile]
infile.close()

L

In [ ]:
f = open("Data2.txt", 'r')
lines = f.readlines()
f.close()

L = []

for line in lines:
    line = line.rstrip()
    L.append(line)

L

## 8) Mutable vs Immutable
- 숫자, 문자열, 리스트, 튜플은 모두 객체임.
- 객체는 데이터를 처리할 수 있는 메소드들로 이루어진 집합체(entity)라고 할 수 있음.
- 어떤 변수에 숫자, 문자열, 리스트, 튜플 등의 객체 데이터를 할당하면, 할당된 데이터는 메모리에 저장이 됨.
- 리스트가 만약 데이터 수정이 되면, 수정된 데이터는 저장된 메모리 위치에 저장됨.
- 하지만, 숫자, 문자열, 튜플의 경우 값이 수정되면 새로운 메모리 위치에 저장됨.
- 이처럼 기존 메모리 위치에서 데이터가 수정이 가능한 경우를 mutable이라고 하고,
- 데이터 수정시 새로운 위치에 메모리가 할당되는 경우를 immutable이라고 함.
- 리스트가 mutable 객체이고, 숫자, 문자열, 튜플은 immutable 객체임.

In [186]:
# 각 변수에 대한 데이터가 메모리에 할당됨.
L = [5,6]
n = 2
s = "Python"
t = ('a', 'b', 'c')

In [187]:
# 리스트는 mutable 객체이기 때문에 기존 메모리 위치에 수정된 데이터가 저장됨.
L.append(7)
L

[5, 6, 7]

In [188]:
# 숫자는 immutalble 객체이기 때문에 수정된 데이터가 새로운 메모리 위치에 저장됨.
n += 1
n

3

In [110]:
# 문자열은 immutable 객체이기 때문에 수정된 데이터가 새로운 메모리 위치에 저장됨.
s = s.upper()
s

'PYTHON'

In [111]:
# 튜플은 immutable 객체이기 때문에 수정된 데이터가 새로운 메모리 위치에 저장됨.
t = t[1:]
t

('b', 'c')

## 9) 리스트 복사

In [113]:
list1 = ['a', 'b', 'c']
list2 = list1 # list2가 list1과 동일한 메모리 위치에 저장됨.
list2[1] = 'd' # list2의 항목 일부를 수정
print(list1) # list2와 list1이 동일한 메모리 위치에 있기 때문에 list2를 수정하면 list1에 영향을 미침.

['a', 'd', 'c']

In [114]:
list1 = ['a', 'b', 'c']
list2 = list(list1) # 새로운 메모리 위치에 list2 객체를 할당함.
list2[1] = 'd' 
print(list1)  # list1이 영향을 받지 않음.

['a', 'b', 'c']

In [115]:
list1 = ['a', 'b', 'c']
list2 = list1[:] # 새로운 메모리 위치에 list2 객체를 할당함.
list2[1] = 'd' 
print(list1) # list1이 영향을 받지 않음.

['a', 'b', 'c']

## 10) 리스트 삭제

In [116]:
list1 = ['a', 'b', 'c', 'd', 'e']
del list1[3:]
list1

['a', 'b', 'c']

In [117]:
tuple1 = ('a', 'b', 'c', 'd', 'e')
del tuple1[0]
tuple1

TypeError: 'tuple' object doesn't support item deletion

## 11) 리스트 및 튜플 간 상호변환

In [118]:
list2 = [1, 2, 3, 4, 5, 6]
tuple2 = (1, 2, 3, 4, 5, 6)

In [119]:
tuple3 = tuple(list2)
tuple3

(1, 2, 3, 4, 5, 6)

In [120]:
list3 = list(tuple2)
list3

[1, 2, 3, 4, 5, 6]

## 12) 추가_range를 이용하여 리스트 만들기
- range() 함수를 이용하여 연속된 숫자를 생성하는 것이 가능하고, 이를 통해 리스트를 쉽게 생성할 수 있음.

In [ ]:
range(10)

In [ ]:
a = list(range(10))
a

In [ ]:
b = list(range(3, 10))
b

In [ ]:
c = list(range(-4, 10, 2))
c

In [ ]:
d = list(range(10, 0, -1))
d

## 13) 추가_range를 이용하여 튜플 만들기
- range() 함수를 이용하여 리스트를 만들듯이 튜플도 쉽게 만들 수 있음.
- 만드는 방법은 리스트의 경우와 동일함.

In [ ]:
a = tuple(range(10))
a

In [ ]:
b = tuple(range(3, 9))
b

In [ ]:
c = tuple(range(-4, 10, 2))
c

In [ ]:
d = tuple(range(10, 0, -2))
d