## Chapter 1-2. Strings(문자열)

## 1) 개요
- 문자 하나 또는 문자가 모인 단어나 문장 또는 단락 등을 문자열이라 함.
- 즉, 문자열은 "일련의 문자 모임"이라고 할 수 있음.
- 파이썬에서 작은따옴표나 큰따옴표를 앞뒤로 둘러싸 '문자열' 또는 "문자열"처럼 표현함.
- 따옴표로 둘러싸인 숫자도 문자열로 취급함.(예: '21', '1.1592' 등)
- 따옴표로 둘어싸이면 모두 문자열이라고 할 수 있음.
- 문자열이 길거나 여러 줄로 표현하기 위해 삼중따옴표 사용 가능
    - 삼중따옴표는 작은따옴표나 큰따옴표를 연속적으로 3개씩 문자열 앞뒤에 둘어싸는 것!
    - 삼중따옴표는 코드 내 주석으로 사용가능

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('Hello Python')

Hello Python

In [3]:
# 문자열의 따옴표는 앞뒤를 동일하게 사용해야 함.
print("Hello string!')

SyntaxError: EOL while scanning string literal (<ipython-input-3-39078635e4da>, line 1)

In [1]:
print("한양" "대학교")

한양대학교

In [2]:
print("한양"+"대학교")

한양대학교

In [3]:
print("한양"+'대학교')

한양대학교

In [4]:
print("한양 " + "대학교")

한양 대학교

In [5]:
print("한양"*3)

한양한양한양

In [6]:
print("한양 "*3)

한양 한양 한양

In [7]:
print(5*"한양 ")

한양 한양 한양 한양 한양

In [8]:
print("한양"*"대학교")

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
print('''나는 한양대학교를 다니는 것이
너무나도 자랑스럽다''')

나는 한양대학교를 다니는 것이
너무나도 자랑스럽다

In [2]:
print("""나도 한양대학교를 다니는 것이
무척 자랑스럽다.""")

나도 한양대학교를 다니는 것이
무척 자랑스럽다.

In [4]:
print("원의 원주율은 "+"3.14"+"이다.")

원의 원주율은 3.14이다.

In [6]:
print("파이썬 " + "언어! "+3*"반가워 ")

파이썬 언어! 반가워 반가워 반가워

In [7]:
print("파이썬은"+" 즐겁다.")

파이썬은 즐겁다.

In [9]:
'''python.py
   2020.09 by Hun Park'''

print('# 이후는 주석') # 한 줄에서 문장 이후에도 주석 사용 가능
print('string: "python"') # 큰따옴표 내부에서 작은따옴표는 문자열
print("number: 1 5 3.14") # 문자열 내부에서 숫자도 문자열
print("'string: 'python'") # 작은따옴표 내부에서 큰따옴표는 문자열

# 이후는 주석
string: "python"
number: 1 5 3.14
'string: 'python'

 ## 2) 문자열 인덱싱
 - 문자열을 구성하는 문자는 0부터 시작되는 첨자(index)를 대괄호 안에 기술해 인덱싱이 가능함.
 - 문자열의 첫 글자는 첨자 0으로 표현되고, 문자열의 끝 글자는 첨자 -1로 표현됨.
 - 문자열의 두번째 글자는 첨자 1로 표현됨.
     - str1이 문자열로 이루어진 변수에서 str1[0]은 문자열 첫번째 글자를 나타냄.
     - str1[1]은 문자열 두번째 글자를 나타냄.
     - str1[-1]은 문자열 마지막 글자를 나타냄.

In [1]:
'python'[0]

'p'

In [2]:
'python'[1]

'y'

In [3]:
'python'[3]

'h'

In [4]:
'python'[-1]

'n'

In [7]:
'python'[-2]

'o'

In [5]:
'python'[6]

IndexError: string index out of range

In [6]:
'python'[-8]

IndexError: string index out of range

## 3) 문자열 슬라이싱
- 문자열 인덱싱이 하나의 문자만을 추출하는 방법이라면, 문자열 슬라이싱은 일련의 여러개 문자열을 추출하는 방법이다.
- str1[m:n]은 참조m의 문자부터 참조(n-1) 문자까지를 추출함.
- 예를 들어, "Python"[0:4]은 첫번째 문자(index 0)부터 네번째 문자(index 3)까지를 추출함.

In [1]:
"Python"[0:4]

'Pyth'

In [2]:
"Just a moment"[0:5]

'Just '

In [3]:
"Just a moment"[3:8]

't a m'

In [4]:
"Just a moment"[5:-1]

'a momen'

In [5]:
"Just a moment"[0:13]

'Just a moment'

In [6]:
"Just a moment"[0:-1]

'Just a momen'

## 3) find & rfind 기능
- find: 찾고자 하는 문자열이 처음 발견되는 index 값을 나타냄.
- rfind: 오른쪽으로부터 찾고자 하는 문자열이 처음 발견되는 index 값을 나타냄.
- 값을 찾지 못한 경우 -1을 나타냄.

In [8]:
str1 = "한양대학교"
str1.find("대")

2

In [9]:
str1.rfind("양")

1

In [10]:
str2 = "한양대학교 한양대학교"

In [11]:
str2.find("교")

4

In [12]:
str2.rfind("대")

8

In [13]:
str2.find("나")

-1

In [14]:
str2.rfind("해")

-1

In [15]:
# Example 1
print("Python")
print("Python"[1], "Python"[5], "Python"[2:4])

str1 = "Hello World!"
print(str1.find('W'))
print(str1.find('x'))
print(str1.rfind('l'))

Python
y n th
6
-1
9

In [16]:
# Example 2
print("Python")
print("Python"[-1], "Python"[-4], "Python"[-5:-2])

str1 = "spam & eggs"
print(str1[-2])
print(str1[-8:-3])
print(str1[0:-1])

Python
n t yth
g
m & e
spam & egg

- str[m:n]에서 맨 마지막 문자가 생략되는 경우 str[m:]를 사용할 수 있음.

In [17]:
str = '한양대학교'

In [18]:
str[0:-1]

'한양대학'

In [19]:
str[0:]

'한양대학교'

In [20]:
str[:-1]

'한양대학'

In [21]:
str[:]

'한양대학교'

In [22]:
# Example 3
print("Python"[2:], "Python"[:4], "Python"[:])
print("Python"[-3:], "Python"[:-3], "Python"[:-3])

thon Pyth Python
hon Pyt Pyt

In [20]:
# Example 3-1
str = 'Monthy Python'
print(len(str))

print(str[0:5], str[6:], str[6:12])
print(str[-12:-7], str[-6:], str[-6:0])

13
Month  Python  Pytho
onthy Python

- str[start:end:step]으로 문자 사이의 간격을 step으로 조정 가능

In [21]:
'python'[::1] # 전체 문자열을 반환함.

'python'

In [22]:
'python'[1:5:2]

'yh'

In [23]:
'python'[1:5:3]

'yo'

In [24]:
'python'[::-1] # 역순의 문자열을 반환함.

'nohtyp'

In [25]:
'python'[5:0:-1]

'nohty'

In [26]:
'python'[-1:-7:-1]

'nohtyp'

In [ ]:
# Example 3-2
str = '일요일 기러기'
print(str[:3], str[4:])
print(str[:-4], str[-3:])
print(str[:], str[::], str[::1])
print(str[::2])
print(str[::3])
print(str[::-2])
print(str[::-1])

## 4) 문자열 관련 메소드 I
- len: 문자열 글자수를 의미함.
- upper: 문자열의 글자를 모두 대문자로 변경함.
- lower: 문자열의 글자를 모두 소문자로 변경함.
- count: 문자열 내 문자군의 개수를 나타냄.
- capitalize: 문자열의 글자 중 첫글자는 대문자로 나머지 글자는 소문자로 변경함.
- title: 문자열 내 각 단어의 첫글자를 대문자로 변경함. 나머지 글자는 소문자로 변경함.
- rstrip: 문자열의 오른쪽 끝 공백을 제거함.
- replace: 특정 문자열을 원하는 문자열로 바꿈.
- sqapcase: 대문자는 소문자로, 소문자는 대문자로 바꿈

In [2]:
str1 = "Python"
str1

'Python'

In [4]:
len(str1)

6

In [5]:
str1.upper()

'PYTHON'

In [6]:
str1.lower()

'python'

In [7]:
str1.count('th')

1

In [8]:
str2 = 'Python Python'
str2.count('th')

2

In [9]:
"coDE".capitalize()

'Code'

In [10]:
"beN hur".title()

'Ben Hur'

In [11]:
"beN hur".capitalize()

'Ben hur'

In [22]:
print('   python   '.lstrip())
print('   python   '.rstrip())
print('   python   '.strip())

python
   python
python

In [2]:
str3 = '자바는 인기 있는 언어 중 하나이다.'
print(str3.replace('자바는', '파이썬은'))
print(str3.replace(' ', ''))

# 문자열은 수정될 수 없는 자료로서 한 번 만들어진 문자열은 수정될 수 없다는 특징이 있으며,
# replace 메소드로 문자열 자체가 수정되는 것이 아니라 
# replace() 메소드 기능이 작용한 새로운 문자열을 반환한다는 것에 주의할 필요가 있음.

파이썬은 인기 있는 언어 중 하나이다.
자바는인기있는언어중하나이다.

In [3]:
# replace(old, new, count)에서 문자열 old를 new로 대체하는데,
# 옵션인 count는 대체횟수를 지정함.
# 옵션인 count가 없으면 모두 바꾸고, 있으면 앞에서부터 지정한 횟수만큼 바꿈.

str4 = '파이썬 파이썬 파이썬'
print(str4.replace('파이썬', 'Python!'))
print(str4.replace('파이썬', 'Python!', 1))
print(str4.replace('파이썬', 'Python!', 2))

Python! Python! Python!
Python! 파이썬 파이썬
Python! Python! 파이썬

## 5) 문자열 관련 메소드 II
- find: 문자열의 부분 문자열이 맨 처음에 위치한 첨자를 반환, 찾는 문자열이 없는 경우 -1을 반환함.
- index: find 메소드와 동일한 기능, 찾는 문자열이 없는 경우 ValueError를 발생시킴.
- rfind & rindex: 역순으로 부분 문자열을 찾아 반환
- split: 문자열을 공백을 기준으로 문자열을 분할
- center: 문자열 폭을 지정하고 중앙에 문자열을 배치
- ljust & rjust: 문자열 폭을 지정하고 왼쪽 혹은 오른쪽으로 정렬
- partition, rpartition: 해당 문자를 기준으로 나누기(rpartition은 오른쪽부터 찾음)

In [4]:
str = '자바 C 파이썬 코볼'
print(str.find('자바'))
print(str.index('자바'))
print(str.find('파이썬'))
print(str.find('파'))

0
0
5
5

In [5]:
print(str.find('C+'))

-1

In [6]:
print(str.index('JAVA'))

ValueError: substring not found

In [9]:
'python ipython'.rfind('on')

12

In [10]:
'python ipython'.rindex('py')

8

In [7]:
'사과 배 복숭아 딸기 포도'.split()

['사과', '배', '복숭아', '딸기', '포도']

In [8]:
'데스크탑 100000, 노트북 1800000, 스마트폰 1200000'.split()

['데스크탑', '100000,', '노트북', '1800000,', '스마트폰', '1200000']

In [13]:
'데스크탑 100000, 노트북 1800000, 스마트폰 1200000'.split(',')

['데스크탑 100000', ' 노트북 1800000', ' 스마트폰 1200000']

In [14]:
'데스크탑 100000, 노트북 1800000, 스마트폰 1200000'.split(', ')

['데스크탑 100000', '노트북 1800000', '스마트폰 1200000']

In [16]:
print(' 파이썬 강좌 '.center(30, '*'))
print(' 파이썬 강좌 '.center(30))
print(' 파이썬 강좌 '.center(30, '='))

*********** 파이썬 강좌 ***********
            파이썬 강좌
=========== 파이썬 강좌 ===========

In [18]:
print('python'.ljust(20))
print('python'.ljust(20, '*'))
print('python'.rjust(20))
print('python'.rjust(20, '='))

python
python**************
              python
==============python

## 6) Chained Methods
- 아래의 두 개의 코드가 있다고 가정하자.
    - praise = "Good Doggie".upper()
    - numberOfGees = praise.count('G')
- 파이썬에서는 두 개의 코드를 하나로 표현할 수 있다. 즉, 두 개의 코드를 사슬처럼 묶을 수 있다. 이를 chained method라고 한다.
    - numberOfGees = "Good Doggie".upper().count('G')

In [13]:
"Hanyang University".upper().count('I')

2

## 7) Input 함수
- input 함수는 입력되는 표준입력을 문자열로 읽어 반환하는 함수이고, input 함수에서 반환되는 입력 문자열을 변수에 저장하려면 대입 연산자 =를 사용해 변수에 저장함.
- 예) town = input("Enter the name of your city: ")
    - 위 코드를 실행하면 "Enter the name of your city: "라는 문자열이 표시되고, 프로그램이 멈춤.
    - 도시명을 입력하고, 엔터를 누르면, town 변수에 도시 이름이 할당됨.

In [14]:
town = input("Enter the name of your city: ")

Enter the name of your city: Ansan

In [15]:
town

'Ansan'

In [16]:
# Example 4
fullName = input("Enter a full name: ")
n = fullName.rfind(" ")
print("Last name:", fullName[n+1:])
print("First name(s);", fullName[:n])

Enter a full name: Hun Park
Last name: Park
First name(s); Hun

In [6]:
# Example 4-1
univ = input('대학은?')
name = input('이름은?')
print('대학:', univ, '이름:', name)

대학은?한양대
이름은?박훈
대학: 한양대 이름: 박훈

In [18]:
# Example 4-2
planet = input('원하는 행성은?')
strRadius = input(planet + ' 반지름은?')
radius = int(strRadius)

length = 2*3.14*radius
print(planet, '반지름:', radius)
print(planet, '둘레길이', length)

원하는 행성은?지구
지구 반지름은?6400
지구 반지름: 6400
지구 둘레길이 40192.0

In [12]:
# Example 4-3
str = input('2개의 단어를 빈 공간으로 구분해 입력하세요.')
pos = str.find(' ')
preWord = str[:pos]
postWord = str[pos+1:]
print(preWord, postWord)
print(preWord[::-1], postWord[::-1])

2개의 단어를 빈 공간으로 구분해 입력하세요.사과 복숭아
사과 복숭아
과사 아숭복

## 7) int, float, eval, 그리고 str 함수
- int 함수: 문자열이 숫자로 이루어진 경우, 문자열 타입의 숫자를 정수 타입으로 변경함.
    - 실수로 이루어진 데이터를 정수 형태로 변경하기도 함.
- float 함수: 문자열이 숫자로 이루어진 경우, 문자열 타입의 숫자를 실수 타입으로 변경함.
    - 정수로 이루어진 데이터를 실수 형태로 변경하기도 함.
- eval 함수: 숫자들의 연산으로 이루어진 문자열 내 연산을 수행하여 결과값을 정수나 실수로 계산함.
- str 함수: 정수나 실수로 이루어진 데이터를 문자열 형태로 데이터 타입을 변경함.

In [7]:
int(12.5) # 실수 12.5를 정수 12로 변경함. 소수첫째자리에서 버림으로 정수로 변경함.

12

In [8]:
int('12') # 문자열 '12'를 정수 12로 변경함.

12

In [1]:
int('12.5') # 문자열 '12.5'를 정수로 변경하고자 할 때 오류가 발생함. 문자열이 정수 형태이어야 함.

ValueError: invalid literal for int() with base 10: '12.5'

In [1]:
float(5) # 정수 5를 실수 5.0으로 변경함.

5.0

In [2]:
float('5.9') # 문자열 '5.9'를 실수 5.9로 변경함.

5.9

In [12]:
float('5') # 문자열 '5'을 실수 5.0으로 변경함.

5.0

In [4]:
eval('3+15/2') # 문자열 안의 수의 연산을 계산한 결과값을 반환함.

10.5

In [5]:
eval('4*3%5')

2

In [6]:
eval('3*-2**3')

-24

In [8]:
eval('30')

30

In [9]:
eval('12.4')

12.4

In [11]:
eval('"python "*3') # 숫자의 연산 뿐아니라 문자열 연산도 반환함.

'python python python '

In [12]:
eval('"python "+"python"')

'python python'

In [14]:
str(5) # 정수 5를 문자열 '5'로 변경함.

'5'

In [3]:
str(4.2345) # 실수 4.2345를 문자열 '4.2345'로 변경함.

'4.2345'

In [17]:
# Example 5
print(int("23"))
print(float("23"))
print(eval("23"))
print(eval("23.5"))
x = 5
print(eval("23+(x+5)"))

23
23.0
23
23.5
33

- input 함수의 경우 항상 문자열을 입력으로 받지만 다음과 같이 int, float, eval 함수를 이용해 숫자를 입력할 수 있다.

In [21]:
age = input("Enter your age: ")

Enter your age: 12

In [22]:
age

'12'

In [18]:
age = int(input("Enter your age: "))

Enter your age: 12

In [19]:
age

12

In [20]:
type(age)

int

In [23]:
age = float(input("Enter your age: "))

Enter your age: 12

In [24]:
age

12.0

In [3]:
age = eval(input("Enter your age: "))

Enter your age: 12.0

In [4]:
type(age)

float

- 함수 int()와 float()에서의 변환 주의

In [13]:
int('python') # 문자열은 정수로 변환 불가

ValueError: invalid literal for int() with base 10: 'python'

In [14]:
int('6400i') # 정수에 문자가 포함됨.

ValueError: invalid literal for int() with base 10: '6400i'

In [15]:
float('3.141592f') # 실수에 문자가 포함됨.

ValueError: could not convert string to float: '3.141592f'

In [16]:
int('2.72') # 정수가 아닌 실수 형태

ValueError: invalid literal for int() with base 10: '2.72'

In [24]:
int(float('2.72')) # 먼저 float()로 2.72가 되고 다시 int(2.72)를 수행해 2가 반환됨.

2