## Chapter 1-1. Numbers

### 1) 정수, 실수, 그리고 복소수

- 숫자는 크게 정수, 실수 그리고 복소수로 나뉜다.
- 15, 7, 20 등은 정수, 소수점이 있는 3.14, 2.718 등은 실수(float)이다.
    - 프로그래밍 언어에서 실수를 부동소수점(floating point numbers, 부동소수)이라 한다.
    - 부동소수점에서 부동은 "둥둥 떠다닌다"는 의미로 부동소수점은 "소수점이 떠다니는 실수"를 의미한다.
- 5+3i, 2i 등은 실수와 허수로 구성되어 있는 복소수이다.
- 파이썬에서는 정수를 int로 표현하고, 실수는 float로 표현한다.
- 파이썬에서는 복소수는 complex로 표현하고 1+4j, 3j, 1-5j와 같이 i대신 j를 사용한다.

In [6]:
type(15)

int

In [7]:
type(3.14)

float

In [8]:
type(1+3j)

complex

In [9]:
int(3.14)

3

In [10]:
float(3)

3.0

In [1]:
complex(3)

(3+0j)

In [2]:
(5+2j).imag

2.0

In [3]:
(5+2j).real

5.0

In [5]:
(5+2j).conjugate()

(5-2j)

### 2) 연산자 I
- 더하기: +
- 빼기: -
- 곱하기: *
- 나누기: /

In [12]:
1+2

3

In [13]:
5-2

3

In [14]:
3*5

15

In [15]:
5/3

1.6666666666666667

### 3) 연산자 II
- n제곱: **
- 몫: //
- 나머지: %
- 절대값: abs
- 반올림: round

In [3]:
# n제곱, 2의 3제곱
2**3

8

In [2]:
2**4

16

In [4]:
3**3

27

In [5]:
4**2

16

In [30]:
# 몫, 5 나누기 3의 몫
5//3

1

In [ ]:
# 나머지
5%3

In [6]:
11/3

3.6666666666666665

In [7]:
11//3

3

In [8]:
11%3

2

In [15]:
# 지구와 달의 거리는 384,403,900m이다. 이 거리를 1000으로 나눈 몫과 나머지를 구하면?
# 몫
384403900//1000

384403

In [16]:
# 나머지
384403900%1000

900

In [9]:
384403900/1000

384403.9

In [20]:
# 절대값
abs(-21)

21

In [39]:
# 반올림
round(2.7)

3

In [10]:
round(2.3)

2

In [40]:
# 반올림해서 소수 둘째자리까지 구하는 경우
round(2.317, 2)

2.32

In [42]:
# 반올림해서 소수 첫째자리까지 구하는 경우
round(2.317, 1)

2.3

In [6]:
# 거듭제곱 **은 오른쪽에서 왼쪽, 나머지 연산자는 왼쪽에서 오른쪽으로 계산
2**3**2

512

In [9]:
# 계산순서는 괄호를 사용해 명확히 하는 것이 좋음.
2**(3**2)

512

In [10]:
(2**3)**2

64

In [11]:
# 연산자 **은 부호보다 먼저 계산되며, 부호 연산자는 **를 제외한 산술 연산자보다 먼저 계산됨.
-2*-5

10

In [12]:
-2**2

-4

In [13]:
(-2)**2

4

In [14]:
# 2차원 좌표에서 두 점 사이의 거리 계산
# 두 점 좌표 (2,2), (4,5.2)
((2-4)**2+(2-5.2)**2)**(1/2)

3.773592452822642

## 4) print 함수
- print(n)의 경우 n이 숫자인 경우 숫자값을 출력함.
- print(a, b, c)처럼 숫자가 ,로 구분되어 있는 경우 ,가 공백으로 처리되면서 숫자를 한 줄에 출력함.

In [31]:
print(3)
print(3.4)

3
3.4

In [32]:
print(1,2,3,4)

1 2 3 4

In [33]:
print(1,2,3,4)
print(4)

1 2 3 4
4

In [34]:
# Example 1

print(3+2, 3-2, 3*2)
print(8 / 2, 8 ** 2, 2 * (3+4))

5 1 6
4.0 64 14

In [17]:
# 문자열도 숫자와 함께 출력이 가능함.
print("수학점수:", 100)
print("국어점수:", 90)
print("영어점수:", 95)

수학점수: 100
국어점수: 90
영어점수: 95

## 5) 언더스코어
- 대화형 모드에서 마지막에 실행된 결과값은 특별한 저장공간인 _(언더스코어)에 대임됨.

In [11]:
60

60

In [13]:
20

20

In [14]:
_

20

In [15]:
3*_

60

In [16]:
_

60

## 6) 변수
- 변수(Variable): 메모리 안에 데이터 항목을 할당하는 이름을 일컬음.
- Assignment statement --> variableName = numericExpression
    - 왼쪽에 변수명을 기재하고, 오른쪽에 관련 데이터 정보나 표현식을 기재함.
- 변수명은 문자, 숫자, 그리고 언더스코어로만 구성해야 함.
- 특수문자(+, -, =, *, !, @, #, $, %, & 등)를 사용하면 안됨.
- 문자나 언더스코어로부터 시작해야 하며, 숫자부터 시작하면 안됨.
- 변수명에 공백이 있으면 안됨.
- 예약어(reserved words)는 변수로 사용될 수 없음.(예: for, while, def, return 등)
- 올바른 예: value, total_price, coffeePrice, _month
- 잘못된 예: 2020year, sale@, sale price, import, for

In [17]:
# Example 2
# Distance = speed x time elapsed

speed = 50
timeElapsed = 14 
distance = speed * timeElapsed
print(distance)

700

In [19]:
# Example 3

a = 2
b = 3
print(abs(1-(4*b)))
print(int((a**b)+.8))
print(round(a / b, 3))

11
8
0.667

In [20]:
# 변수에 서로 다른 값을 할당하는 경우 최근 할당한 값을 기억함.
c = 2
c = 10
c

10

In [22]:
# 섭씨 온도를 화씨 온도로 변환
celsius = 37
fahrenhite = celsius*9/5 + 32
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)
celsius = celsius + 3
fahrenhite = celsius*9/5 + 32
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)

섭씨:  37 , 화씨:  98.6
섭씨:  40 , 화씨:  104.0

In [2]:
# 세일가격 계산
price = 56000
sale = 20
salePrice = price*(100-sale)/100
print(salePrice)

44800.0

In [ ]:
# 한 번에 여러 변수에 값을 대입할 수 있음.
a, b = 5, 9
print(a, b)

## 7) 연산자 III (대입연산자, Augmented Assignments)
- var = var + 1은 var += 1로 간편하게 표현 가능함.
- var = var - 2 --> var -= 2
- var = var * 3 --> var *= 3
- var = var / 3 --> var /= 3
- var = var ** 2 --> var ** = 2

In [44]:
a = 1
a = a + 3
a

4

In [45]:
a = 2
a += 3
a

5

In [46]:
a = 3
a = a - 1
a

2

In [47]:
a = 3
a -= 1
a

2

In [48]:
a = 4
a = a*3
a

12

In [49]:
a = 4
a *= 3
a

12

In [50]:
a = 6
a = a / 2
a

3.0

In [52]:
a = 6
a /= 2
a

3.0

In [23]:
a = 8
a = a**2
a

64

In [24]:
a = 8
a **= 2
a

64

In [57]:
# Example 4

num1 = 6
num1 += 1
num2 = 7
num2 -= 5
num3 = 8
num3 /= 2
print(num1, num2, num3, round(num3))

num1 = 1
num1 *= 3
num2 = 2
num2 **= 3
print(num1, num2)

7 2 4.0 4
3 8

## 7) 구문 및 실행오류
- print(3)) --> 괄호가 오른쪽에 하나 더 있음.
- for = 5 --> 예약어가 변수명으로 사용되었음.
- print(2; 3) --> ;이 아니라 ,을 사용해야 함.
- primt(5) --> print 스펠링 오류
- x += 1 --> x값이 정의되지 않음.
- print(5/0) --> 수는 0으로 나눌 수 없음.

In [59]:
print(3))

SyntaxError: unmatched ')' (<ipython-input-59-e6102531117b>, line 1)

In [60]:
for = 5

SyntaxError: invalid syntax (<ipython-input-60-36df406aa65d>, line 1)

In [61]:
print(2;3)

SyntaxError: invalid syntax (<ipython-input-61-ce32a54faa94>, line 1)

In [62]:
primt(5)

NameError: name 'primt' is not defined

In [63]:
x += 1

NameError: name 'x' is not defined

In [64]:
print(5/0)

ZeroDivisionError: division by zero

## 8) 기타_들여쓰기
- 들여쓰기(indentation)는 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법임.
- 파이썬은 들여쓰기 자체가 문법임.
- 예를 들어 if의 다음줄은 항상 들여쓰기를 해야 함. 만약 들여쓰기를 하지 않으면 문법 에러이기 때문에 코드가 실행되지 않음.
- 파이썬은 공백 2칸, 4칸, 탭문자 등을 각각 사용해도 동작이 잘 됨. 하지만 파이썬 코딩 스타일 가이드에서는 공백 4칸으로 규정하고 있음.

In [1]:
if a == 10:    
print('10입니다.') # 들여쓰기 문법 에러

IndentationError: expected an indented block (<ipython-input-1-022912caa1e9>, line 2)

In [8]:
a = 10
if a == 10:
    print('10입니다.')

10입니다.

## 9) 기타_코드블록
- 코드블록은 특정한 동작을 위해서 코드가 모여있는 상태를 뜻하며 파이썬은 들여쓰기를 기준으로 코드블록을 구성함.

In [9]:
a = 10

if a == 10:
    print('10') # 코드블록
    print('입니다.') # 동일한 코드블록은 동일한 들여쓰기를 사용해야 함.

10
입니다.

In [10]:
# 공백칸수가 다른 경우

a = 10

if a == 10:
    print('10') # 4칸
      print("입니다.") #6칸

IndentationError: unexpected indent (<ipython-input-10-a71a1eddb426>, line 5)

## 10) 기타_파이썬 철학
- 파이썬 쉘에서 import this를 입력하면 파이썬이 추구하는 파이썬의 철학(The Zen of Python)을 확인할 수 있음.
- 이는 파이썬 개발자 팀 피터스(Tim Peters)가 파이썬 디자인에 관해 언급한 문구임.
- 프로그래밍 언어 사용에서뿐 아니라 일상생활에서도 귀담아 둘 만한 문구임.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!