## Chapter 5.2 Data Processing, Part2

### 1) CSV 파일
- 지금까지는 행별로 1개의 파일을 갖는 텍스트 파일만을 살펴보았음.
    - States.txt : 각 행은 주의 이름을 가짐.
    - USPres.txt : 각 행은 대통령의 이름을 가짐.
- CSV 포맷의 파일은 각 행에 여러 개의 데이터 항목을 콤마로 구분함.
- 예제 파일로 UN.txt가 있고, UN 가입국 193개를 알파벳 순서로 나열한 데이터임.
- 파일의 각 행은 국가에 대한 데이터 항목 4개(국가명, 소속 대륙, 인구수, 면적)를 갖고 있음.
- CSV 포맷 텍스트 파일의 각 행은 레코드라고 함. 각 레코드는 4개의 필드를 갖고 있음.
    - 국가명
    - 소속 대륙
    - 인구
    - 면적

### 2) CSV 파일 내 데이터 접근하기
- split 메소드는 CSV 형태 파일의 필드에 접근하기 위해 사용됨.

In [8]:
infile = open("UN.txt", 'r')
a = infile.readline().rstrip()
infile.close()

In [9]:
a

'Afghanistan,Asia,31.8,251772'

In [10]:
csv1 = a.split(',')

In [11]:
csv1

['Afghanistan', 'Asia', '31.8', '251772']

In [16]:
csv1[0]

'Afghanistan'

In [17]:
csv1[1]

'Asia'

In [18]:
csv1[2]

'31.8'

In [19]:
csv1[3]

'251772'

In [16]:
# Ex.1

def main():
    continent = input("Enter the name of a continent: ")
    continent = continent.title()
    if continent != "Antactica":
        infile = open("UN.txt", 'r')
        for line in infile:
            data = line.split(',')
            if data[1] == continent:
                print(data[0])
    else:
        print("There are no countries in Antarctica.")

main()

Enter the name of a continent: africa
Algeria
Angola
Benin
Botswana
Burkina Faso
Burundi
Cameroon
Cape Verde
Central African Republic
Chad
Comoros
Cote D'Ivoire
Democratic Republic of the Congo
Djibouti
Egypt
Equatorial Guinea
Eritrea
Ethiopia
Gabon
Gambia
Ghana
Guinea
Guinea Bissau
Kenya
Lesotho
Liberia
Libyan Arab Jamahiriya
Madagascar
Malawi
Mali
Mauritania
Mauritius
Morocco
Mozambique
Namibia
Niger
Nigeria
Republic of the Congo
Rwanda
Sao Tome and Principe
Senegal
Seychelles
Sierra Leone
Somalia
South Africa
South Sudan
Sudan
Swaziland
Togo
Tunisia
Uganda
United Republic of Tanzania
Zambia
Zimbabwe

### 3) 리스트로 CSV 파일의 데이터 분석하기

In [17]:
# Ex.2

def main():
    countries = placeRecordsIntoList("UN.txt")
    countries.sort(key=lambda country: country[3], reverse=True) # 면적 기준으로 정렬(내림차순)
    displayFiveLargestCountries(countries)
    createNewFile(countries) # 국가와 면적으로 구성된 파일을 생성
    
def placeRecordsIntoList(fileName):
    infile = open(fileName, 'r')
    listOfRecords = [line.rstrip() for line in infile]
    infile.close()
    for i in range(len(listOfRecords)):
        listOfRecords[i] = listOfRecords[i].split(',')
        listOfRecords[i][2] = eval(listOfRecords[i][2]) # 인구수
        listOfRecords[i][3] = eval(listOfRecords[i][3]) # 면적
    return listOfRecords

def displayFiveLargestCountries(countries):
    print("{0:20}{1:9}".format("Country", "Area (sq. mi.)"))
    for i in range(5): # 면적이 가장 큰 순으로 5개 국가를 추출
        print("{0:20}{1:9,d}".format(countries[i][0], countries[i][3]))
        
def createNewFile(countries):
    outfile = open("UNbyArea.txt", 'w')
    for country in countries:
        outfile.write(country[0] + ',' + str(country[3]) + "\n")
        
main()

Country             Area (sq. mi.)
Russian Federation  6,592,800
Canada              3,855,000
United States       3,794,066
China               3,696,100
Brazil              3,287,597

In [18]:
list1 = placeRecordsIntoList("UN.txt")
list1.sort(key=lambda country: country[3], reverse=True)
list1

[['Russian Federation', 'Europe', 142.5, 6592800],
 ['Canada', 'North America', 34.8, 3855000],
 ['United States', 'North America', 318.9, 3794066],
 ['China', 'Asia', 1355.7, 3696100],
 ['Brazil', 'South America', 202.7, 3287597],
 ['Australia', 'Australia/Oceania', 22.5, 2967909],
 ['India', 'Asia', 1236.3, 1269210],
 ['Argentina', 'South America', 44.0, 1068302],
 ['Kazakhstan', 'Asia', 18.0, 1052085],
 ['Sudan', 'Africa', 35.5, 967495],
 ['Algeria', 'Africa', 38.3, 919595],
 ['Democratic Republic of the Congo', 'Africa', 77.4, 905355],
 ['Saudi Arabia', 'Asia', 27.3, 829996],
 ['Mexico', 'North America', 120.3, 761606],
 ['Indonesia', 'Asia', 253.6, 735355],
 ['Libyan Arab Jamahiriya', 'Africa', 6.2, 679359],
 ['Iran', 'Asia', 80.8, 636372],
 ['Mongolia', 'Asia', 3.0, 603909],
 ['Peru', 'South America', 30.1, 496226],
 ['Chad', 'Africa', 11.4, 495753],
 ['Niger', 'Africa', 17.5, 489678],
 ['Angola', 'Africa', 19.1, 481354],
 ['Mali', 'Africa', 16.5, 478839],
 ['South Africa', 'Africa', 48.4, 471443],
 ['Colombia', 'South America', 46.2, 440839],
 ['Ethiopia', 'Africa', 96.6, 426371],
 ['Bolivia', 'South America', 10.6, 424163],
 ['Mauritania', 'Africa', 3.5, 397954],
 ['Egypt', 'Africa', 86.9, 387048],
 ['United Republic of Tanzania', 'Africa', 50.0, 364898],
 ['Nigeria', 'Africa', 177.2, 356669],
 ['Venezuela', 'South America', 28.9, 353841],
 ['Namibia', 'Africa', 2.2, 318696],
 ['Pakistan', 'Asia', 196.2, 310403],
 ['Mozambique', 'Africa', 24.7, 309496],
 ['Turkey', 'Asia', 81.6, 302535],
 ['Chile', 'South America', 17.4, 292183],
 ['Zambia', 'Africa', 14.7, 290587],
 ['Myanmar', 'Asia', 55.7, 261227],
 ['Afghanistan', 'Asia', 31.8, 251772],
 ['Somalia', 'Africa', 10.4, 246201],
 ['Central African Republic', 'Africa', 5.3, 240534],
 ['South Sudan', 'Africa', 11.6, 239285],
 ['Ukraine', 'Europe', 44.3, 233090],
 ['Madagascar', 'Africa', 23.2, 226597],
 ['Botswana', 'Africa', 2.2, 224606],
 ['Kenya', 'Africa', 45.0, 224080],
 ['France', 'Europe', 66.3, 211209],
 ['Yemen', 'Asia', 26.1, 203849],
 ['Thailand', 'Asia', 67.7, 198115],
 ['Spain', 'Europe', 47.7, 195364],
 ['Turkmenistan', 'Asia', 5.1, 188456],
 ['Cameroon', 'Africa', 23.1, 183568],
 ['Papua New Guinea', 'Australia/Oceania', 6.6, 178703],
 ['Sweden', 'Europe', 9.7, 173732],
 ['Uzbekistan', 'Asia', 28.9, 172742],
 ['Morocco', 'Africa', 33.0, 172414],
 ['Iraq', 'Asia', 32.6, 169234],
 ['Paraguay', 'South America', 6.7, 157048],
 ['Zimbabwe', 'Africa', 13.8, 150871],
 ['Norway', 'Europe', 5.1, 148746],
 ['Japan', 'Asia', 127.1, 145883],
 ['Germany', 'Europe', 81.0, 137847],
 ['Republic of the Congo', 'Africa', 4.7, 132047],
 ['Finland', 'Europe', 5.3, 130596],
 ['Vietnam', 'Asia', 93.4, 128527],
 ['Malaysia', 'Asia', 30.1, 127355],
 ["Cote D'Ivoire", 'Africa', 22.8, 124502],
 ['Poland', 'Europe', 38.3, 120726],
 ['Oman', 'Asia', 3.2, 119498],
 ['Italy', 'Europe', 61.7, 116346],
 ['Philippines', 'Asia', 107.7, 115831],
 ['Burkina Faso', 'Africa', 18.4, 105792],
 ['New Zealand', 'Australia/Oceania', 4.4, 103738],
 ['Gabon', 'Africa', 1.7, 103347],
 ['Ecuador', 'South America', 14.0, 98985],
 ['Guinea', 'Africa', 11.5, 94926],
 ['United Kingdom', 'Europe', 66.7, 94526],
 ['Ghana', 'Africa', 25.8, 92098],
 ['Romania', 'Europe', 21.7, 92043],
 ["Lao People's Democratic Republic", 'Asia', 6.8, 91429],
 ['Uganda', 'Africa', 35.9, 91136],
 ['Guyana', 'South America', 0.74, 83000],
 ['Belarus', 'Europe', 9.6, 80155],
 ['Kyrgyzstan', 'Asia', 5.6, 77181],
 ['Senegal', 'Africa', 13.6, 76000],
 ['Syrian Arab Republic', 'Asia', 18.0, 71479],
 ['Cambodia', 'Asia', 15.5, 69898],
 ['Uruguay', 'South America', 3.3, 68037],
 ['Suriname', 'South America', 0.57, 63251],
 ['Tunisia', 'Africa', 10.9, 63170],
 ['Nepal', 'Asia', 31.0, 56827],
 ['Bangladesh', 'Asia', 166.3, 55599],
 ['Tajikistan', 'Asia', 8.1, 55251],
 ['Greece', 'Europe', 11.8, 50944],
 ['Nicaragua', 'North America', 6.1, 50193],
 ["Democratic People's Republic of Korea", 'Asia', 24.9, 46528],
 ['Malawi', 'Africa', 17.4, 45747],
 ['Jordan', 'Asia', 7.9, 45495],
 ['Eritrea', 'Africa', 6.3, 45405],
 ['Benin', 'Africa', 10.2, 43484],
 ['Honduras', 'North America', 8.6, 43278],
 ['Liberia', 'Africa', 4.1, 43000],
 ['Bulgaria', 'Europe', 6.9, 42823],
 ['Cuba', 'North America', 11.0, 42803],
 ['Guatemala', 'North America', 14.7, 42042],
 ['Iceland', 'Europe', 0.32, 39770],
 ['Republic of Korea', 'Asia', 49.0, 38622],
 ['Hungary', 'Europe', 10.0, 35919],
 ['Portugal', 'Europe', 10.9, 35645],
 ['Serbia', 'Europe', 7.2, 34116],
 ['Azerbaijan', 'Asia', 9.7, 33436],
 ['Austria', 'Europe', 8.2, 32383],
 ['United Arab Emirates', 'Asia', 5.6, 32278],
 ['Ireland', 'Europe', 4.8, 31520],
 ['Czech Republic', 'Europe', 10.6, 30450],
 ['Panama', 'North America', 3.6, 29157],
 ['Sierra Leone', 'Africa', 5.7, 27699],
 ['Georgia', 'Asia', 4.9, 26916],
 ['Sri Lanka', 'Asia', 22.9, 25332],
 ['Lithuania', 'Europe', 3.5, 25173],
 ['Latvia', 'Europe', 2.2, 24938],
 ['Togo', 'Africa', 7.4, 21925],
 ['Croatia', 'Europe', 4.5, 21831],
 ['Bosnia and Herzegovina', 'Europe', 3.9, 19767],
 ['Costa Rica', 'North America', 4.8, 19730],
 ['Slovakia', 'Europe', 5.4, 18932],
 ['Dominican Republic', 'North America', 10.4, 18704],
 ['Estonia', 'Europe', 1.3, 17413],
 ['Denmark', 'Europe', 5.6, 16640],
 ['Netherlands', 'Europe', 16.59, 16033],
 ['Switzerland', 'Europe', 8.1, 15940],
 ['Bhutan', 'Asia', 0.73, 14824],
 ['Guinea Bissau', 'Africa', 1.7, 13948],
 ['Republic of Moldova', 'Europe', 3.6, 13067],
 ['Lesotho', 'Africa', 1.9, 12727],
 ['Belgium', 'Europe', 10.4, 11787],
 ['Armenia', 'Asia', 3.1, 11506],
 ['Albania', 'Europe', 3.0, 11100],
 ['Equatorial Guinea', 'Africa', 0.72, 10828],
 ['Burundi', 'Africa', 10.4, 10745],
 ['Haiti', 'North America', 10.2, 10714],
 ['Rwanda', 'Africa', 12.3, 10169],
 ['Djibouti', 'Africa', 0.81, 8958],
 ['Belize', 'North America', 0.34, 8867],
 ['El Salvador', 'North America', 6.2, 8124],
 ['Israel', 'Asia', 7.8, 8019],
 ['Slovenia', 'Europe', 2.0, 7827],
 ['Fiji', 'Australia/Oceania', 0.9, 7056],
 ['Kuwait', 'Asia', 2.7, 6880],
 ['Swaziland', 'Africa', 1.4, 6704],
 ['Timor-Leste', 'Asia', 1.2, 5743],
 ['Bahamas', 'North America', 0.32, 5358],
 ['Montenegro', 'Europe', 0.65, 5019],
 ['Vanuatu', 'Australia/Oceania', 0.27, 4706],
 ['Jamaica', 'North America', 2.9, 4444],
 ['Qatar', 'Asia', 2.1, 4416],
 ['Lebanon', 'Asia', 5.9, 4035],
 ['Gambia', 'Africa', 1.9, 4007],
 ['Cyprus', 'Asia', 1.2, 3572],
 ['Brunei Darussalam', 'Asia', 0.42, 2226],
 ['Trinidad and Tobago', 'North America', 1.2, 1978],
 ['Cape Verde', 'Africa', 0.54, 1557],
 ['Samoa', 'Australia/Oceania', 0.2, 1093],
 ['Luxembourg', 'Europe', 0.52, 998],
 ['Comoros', 'Africa', 0.77, 863],
 ['Mauritius', 'Africa', 1.3, 787],
 ['Sao Tome and Principe', 'Africa', 0.19, 372],
 ['Dominica', 'North America', 0.073, 290],
 ['Tonga', 'Australia/Oceania', 0.11, 289],
 ['Kiribati', 'Australia/Oceania', 0.1, 280],
 ['Singapore', 'Asia', 5.6, 274.2],
 ['Micronesia', 'Australia/Oceania', 0.11, 271],
 ['Bahrain', 'Asia', 1.3, 253],
 ['Saint Lucia', 'North America', 0.16, 239],
 ['The former Yugoslav Republic of Macedonia', 'Europe', 2.1, 205],
 ['Andorra', 'Europe', 0.085, 181],
 ['Palau', 'Australia/Oceania', 0.021, 177],
 ['Seychelles', 'Africa', 0.092, 174],
 ['Barbados', 'North America', 0.29, 167],
 ['Saint Vincent and the Grenadines', 'North America', 0.1, 150],
 ['Grenada', 'North America', 0.11, 132],
 ['Malta', 'Europe', 0.41, 121],
 ['Maldives', 'Asia', 0.39, 115],
 ['Antigua and Barbuda', 'North America', 0.091, 108],
 ['Saint Kitts and Nevis', 'North America', 0.052, 101],
 ['Marshall Islands', 'Australia/Oceania', 0.071, 69],
 ['Liechtenstein', 'Europe', 0.037, 62],
 ['Solomon Islands', 'Australia/Oceania', 0.61, 43],
 ['San Marino', 'Europe', 0.033, 23.5],
 ['Tuvalu', 'Australia/Oceania', 0.011, 10],
 ['Nauru', 'Australia/Oceania', 0.0095, 8],
 ['Monaco', 'Europe', 0.031, 0.76]]

### 4) 숫자 데이터 분석하기

In [20]:
# Ex.3

def main():
    # 국가면적에 대한 통계분석을 실행
    areasAsStrings = extractField("UN.txt", 4)
    areas = [eval(num) for num in areasAsStrings]
    displaySomeStatistics(areas)
    
def extractField(fileName, n):
    # CSV 파일의 각 레코드에서 n번째 필드를 추출하고 해당 데이터를 리스트에 삽입
    infile = open(fileName, 'r')
    return [line.rstrip().split(',')[n-1] for line in infile]

def displaySomeStatistics(listOfNumbers):
    # 면적에 대한 평균, 중위수, 표준편차를 표시
    average = sum(listOfNumbers) / len(listOfNumbers)
    median = calculateMedian(listOfNumbers)
    standardDeviation = calculateStandardDeviation(listOfNumbers, average)
    print("Average area: {0:,.2f} square miles".format(average))
    print("Median area: {0:,d} square miles".format(median))
    print("Standard deviation: {0:,.2f} square miles".format(standardDeviation))
    
def calculateMedian(listOfNumbers):
    listOfNumbers.sort()
    if len(listOfNumbers) % 2 == 1:  # [0,1,2,3,4]
        median = listOfNumbers[int(len(listOfNumbers) / 2)]
    else:
        m = int(len(listOfNumbers) / 2)  # [0,1,2,3,4,5]
        median = (listOfNumbers[m] + listOfNumbers[m-1]) / 2
    return median

def calculateStandardDeviation(listOfNumbers, average):
    m = average
    n = len(listOfNumbers)
    listOfSquaresOfDeviations = [0]*n
    for i in range(n):
        listOfSquaresOfDeviations[i] = (listOfNumbers[i] - m) ** 2
    standardDeviation = (sum(listOfSquaresOfDeviations) / n) ** .5
    return standardDeviation

main()

Average area: 268,550.96 square miles
Median area: 46,528 square miles
Standard deviation: 741,598.06 square miles

In [19]:
a = [0] * 5
a

[0, 0, 0, 0, 0]

### 5) 엑셀과 CSV 파일
- CSV 파일은 엑셀 스프레드시트로 변환할 수 있고 그 반대도 가능함.
- 엑셀에서 UN.txt 파일을 연 후 구분자로 콤마를 선택하면 엑셀을 193행과 4열로 이루어진 스프레드시트를 생성함.
- 이와 반대로 인터넷에서 다운로드하거나 생성한 스프레드시트도 CSV 파일로 변환할 수 있음.
- 파일 메뉴에서 "Save As"를 클릭한 후 드롭박스에서 "CSV(콤마 구분자)(*.csv)를 선택함.

In [1]:
import pandas as pd
df = pd.read_csv("UN.txt", names=['Country', 'Continent', 'Population', 'Area'])
df

         Country      Continent  Population      Area
0    Afghanistan           Asia      31.800  251772.0
1        Albania         Europe       3.000   11100.0
2        Algeria         Africa      38.300  919595.0
3        Andorra         Europe       0.085     181.0
4         Angola         Africa      19.100  481354.0
..           ...            ...         ...       ...
188    Venezuela  South America      28.900  353841.0
189      Vietnam           Asia      93.400  128527.0
190        Yemen           Asia      26.100  203849.0
191       Zambia         Africa      14.700  290587.0
192     Zimbabwe         Africa      13.800  150871.0

[193 rows x 4 columns]

In [2]:
df.to_excel("UN.xls", index = False)

In [3]:
df_X = pd.read_excel("UN.xls")
df_X

         Country      Continent  Population      Area
0    Afghanistan           Asia      31.800  251772.0
1        Albania         Europe       3.000   11100.0
2        Algeria         Africa      38.300  919595.0
3        Andorra         Europe       0.085     181.0
4         Angola         Africa      19.100  481354.0
..           ...            ...         ...       ...
188    Venezuela  South America      28.900  353841.0
189      Vietnam           Asia      93.400  128527.0
190        Yemen           Asia      26.100  203849.0
191       Zambia         Africa      14.700  290587.0
192     Zimbabwe         Africa      13.800  150871.0

[193 rows x 4 columns]

In [4]:
df.to_csv("UN.csv", index = False)

In [5]:
df_Y = pd.read_csv("UN.csv")
df_Y

         Country      Continent  Population      Area
0    Afghanistan           Asia      31.800  251772.0
1        Albania         Europe       3.000   11100.0
2        Algeria         Africa      38.300  919595.0
3        Andorra         Europe       0.085     181.0
4         Angola         Africa      19.100  481354.0
..           ...            ...         ...       ...
188    Venezuela  South America      28.900  353841.0
189      Vietnam           Asia      93.400  128527.0
190        Yemen           Asia      26.100  203849.0
191       Zambia         Africa      14.700  290587.0
192     Zimbabwe         Africa      13.800  150871.0

[193 rows x 4 columns]

## Chapter 5.3 Dictionaries

In [6]:
# 영어를 스페인어로 해석하는 함수

def translate(color):
    if color == "red":
        return "rojo"
    elif color == "blue":
        return "aloz"
    elif color == "green":
        return "verdi"
    elif color == "white":
        return "blanco"
    
# 이러한 유형의 함수를 매핑(mapping)이라고 함.
## 매핑 용어에서 단어 red, blue, green, white는 키(key)라고 하고,
## 단어 rojo, aloz, verdi, blanco는 값(values)이라고 함.

In [8]:
translate("white")

'blanco'

- 파이썬은 딕셔너리(dictionary)라고 하는 효율적이고 융통성있는 매핑 디바이스를 가지고 있음.
- 위 함수와 동일한 기능을 수행하는 딕셔너리는 다음과 같이 정의함.

In [82]:
translate = {"red":"rojo", "blue":"aloz", "green":"verdi", "white":"blanco"}

In [83]:
translate["red"]

'rojo'

In [84]:
translate['blue']

'aloz'

### 1) 딕셔너리 개요
- 딕셔너리는 콤마로 구분된 "key:value"의 값을 대괄호({})로 포함시킨 데이터의 집합으로 정의함.
- 딕셔너리의 key값은 문자열, 숫자, 튜플과 같은 immutable 객체를 사용함.
- 하지만, 딕셔너리의 value값은 어떠한 데이터 형태도 가능함.

In [85]:
bob = {"firstName":"Robert", "lastName":"Smith", "age":19}
print(bob["firstName"], bob["lastName"], "is", bob["age"], "years old.")

Robert Smith is 19 years old.

In [10]:
phoneNum = {"Sam":2345678, "Ted":5436666, "Joe":4443456}
name = input("Enter a person's name: ")
print(name + "'s phone number is", phoneNum[name])

Enter a person's name: Ted
Ted's phone number is 5436666

In [11]:
band = {6:"Six", "instrument":"Trombone", 7: "seventy"}
print(band[7].capitalize() + '-' + band[6], band["instrument"] + "s")

Seventy-Six Trombones

In [13]:
# len() 함수는 딕셔너리 내 아이템(key:value쌍)의 개수를 반환함.

translate = {"red":"rojo", "blue":"aloz", "green":"verdi", "white":"blanco"}
len(translate)

4

In [14]:
# x in d --> x가 딕셔너리의 키이면 참임.

print('red' in translate)
print('black' in translate)

True
False

In [15]:
# x:y in d --> x:y가 딕셔너리 아이템이면 참임. 그렇지 않으면 거짓임.

print('red:rojo' in translate)
print("red:rojo" not in translate)

False
True

In [16]:
# d[key1]은 key1과 연관된 값을 반환함. key1이 d의 키가 아니면 오류를 발생시킴.

print(translate['red'])
print(translate['blue'])
print(translate['green'])
print(translate['white'])
print(translate['black'])

rojo
aloz
verdi
blanco

KeyError: 'black'

In [109]:
# d.get(key1, default) --> key1이 딕셔너리의 키값이 아니면 기본 설정값을 반환함. 그렇지 않은 경우 key1과 연과된 값을 반환함.

print(translate.get('black', 2)) # 'black'이 딕셔너리의 키값이 아니기 때문에 기본 설정값을 반환
print(translate.get('red', 2)) # 'red'가 딕셔너리의 키값이기 때문에 연관된 값 'rojo'를 반환함.

2
rojo

In [104]:
translate

{'red': 'rojo', 'blue': 'aloz', 'green': 'verdi', 'white': 'blanco'}

In [18]:
translate.keys()

dict_keys(['red', 'blue', 'green', 'white'])

In [110]:
# 딕셔너리의 key값을 리스트로 반환
list(translate.keys())

['red', 'blue', 'green', 'white']

In [112]:
# 딕셔너리의 value값을 리스트로 반환
list(translate.values())

['rojo', 'aloz', 'verdi', 'blanco']

In [19]:
list(translate.items())

[('red', 'rojo'), ('blue', 'aloz'), ('green', 'verdi'), ('white', 'blanco')]

In [116]:
# 딕셔너리의 아이템(key:value쌍)을 (key, value)형태로 튜플로 이루어진 리스트를 반환
print(translate.items())

dict_items([('red', 'rojo'), ('blue', 'aloz'), ('green', 'verdi'), ('white', 'blanco')])

In [20]:
# 딕셔너리 내 키값을 리스트로 반환함.
list(translate)

['red', 'blue', 'green', 'white']

In [21]:
# 딕셔너리 내 키값을 튜플로 반환함.
tuple(translate)

('red', 'blue', 'green', 'white')

In [22]:
# 딕셔너리 내 키값을 세트로 반환함.
set(translate)

{'blue', 'green', 'red', 'white'}

In [120]:
# 비어있는 딕셔너리 생성
d1 = {}
d1

{}

In [23]:
# 딕셔너리 translate로부터 복사본 d2 생성

d2 = dict(translate)
d2

{'red': 'rojo', 'blue': 'aloz', 'green': 'verdi', 'white': 'blanco'}

In [123]:
# 특정 키와 값을 제거

del d2['white']
d2

{'red': 'rojo', 'blue': 'aloz', 'green': 'verdi'}

In [24]:
# 모든 아이템을 딕셔너리에서 제거

d2.clear()
d2

{}

In [25]:
d3 = []

for i in translate:  # 딕셔너리에서 키값만 추출해서 for문 조건문 생성
    d3.append(i)
    
d3

['red', 'blue', 'green', 'white']

In [27]:
translate

{'red': 1,
 'blue': 'aloz',
 'green': 'verdi',
 'white': 'blanco',
 'black': 2,
 'pink': 3}

In [26]:
# d.update(c) --> 모든 딕셔너리의 c 입력값을 딕셔너리 d와 병합함. 두 아이템이 동일한 키를 가지면 c의 값을 d의 값으로 대체함.

d = translate
c = {'red': 1, 'black':2, 'pink':3}

d.update(c)
d

{'red': 1,
 'blue': 'aloz',
 'green': 'verdi',
 'white': 'blanco',
 'black': 2,
 'pink': 3}

In [131]:
# d.keys()의 최대값(단, 모든 데이터는 동일한 데이터 유형을 갖는다고 가정함.)

max(c)

'red'

In [133]:
# d.keys()의 최소값(단, 모든 데이터는 동일한 데이터 유형을 갖는다고 가정함.)

min(c)

'black'

In [28]:
# 키들의 자료형이 다르면 비교를 못함
e = {'red':1, '1':3, 3:'white', 4:'red'}
max(e)

TypeError: '>' not supported between instances of 'int' and 'str'

In [29]:
d1 = {'red': 'rojo', 'blue': 'aloz', 'green': 'verdi', 'white': 'blanco'}

In [30]:
d1["black"] = "123"

In [31]:
d1

{'red': 'rojo',
 'blue': 'aloz',
 'green': 'verdi',
 'white': 'blanco',
 'black': '123'}

In [32]:
d1["yellow"] = 234
d1

{'red': 'rojo',
 'blue': 'aloz',
 'green': 'verdi',
 'white': 'blanco',
 'black': '123',
 'yellow': 234}