## Chapter 3-3. The while loop

## 1) while 명령문
- while 명령문은 특정 조건이 만족되었을 때 들여쓰기 된 명령문 블록을 반복적으로 수행함.
- header of the loop --> the line beginning with while
- continuation condition --> the condition in the header, evaluates True or False
- the body of the loop --> the indented block of code
- each execution of the body --> a pass throuth the loop
- 들여쓰기는 동일한 공백을 가지고 있어야 함.
- If condition is False, python skips over the execution of the body of the loop
- If condition is True, python executes the body of the loop
- The body of the loop --> condition이 False가 될 때까지 실행됨.

In [2]:
# while 명령문의 형태
# while condition:
#    indented block of statements

In [3]:
# Ex.1

num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [10]:
# Ex.2(while 명령문이 input validation에 사용된 예)

print("This program displays a famous movie quotation.")
responses = ('1', '2', '3')
response = '0'

while response not in responses: # continuation condition이 True인 동안 아래 명령문이 실행됨.
# reponse = '0'이기 때문에 condition은 True이고, 아래 명령문이 실행됨.
    response = input("Enter 1, 2, or 3: ")
# reponse에 1,2,3 중 하나를 입력하면 다음 루프에서 condition이 False가 되기 때문에 더이상 다음 루프가 실행되지 않음.
# 하지만, reponse에 1,2,3 이외의 숫자를 입력하면, condition이 True이기 때문에 다음 루프가 실행됨.
    if response == '1':
        print("Plastics.")
    elif response == '2':
        print("Rosebud.")
    elif response == '3':
        print("That's all folks.")

This program displays a famous movie quotation.
Enter 1, 2, or 3: 3
That's all folks.

In [11]:
# Ex.3(입력된 수들의 최소값, 최대값, 그리고 평균을 구하는 방법)

count = 0 
total = 0

print("(Enter -1 to terminate entering numbers.)")

# 0 혹은 양수를 입력
num = eval(input("Enter a nonnegative number: "))
min = num # 입력된 값을 min을 설정
max = num # 입력된 값을 max로 설정

while num != -1: # 입력된 값이 -1이 아닌 경우 명령문이 계속 실행됨.
    count += 1 # 명령 루프 실행수를 계산함.
    total += num # 명령 루프가 진행될 때마다 입력값의 누적치를 계산함.
    if num < min: # 초기에는 실행되지 않음. 두번째 루프부터 실행됨.
        min = num
    if num > max: # 초기에는 실행되지 않음. 두번째 루프부터 실행됨.
        max = num
    num = eval(input("Enter a nonnegative number: "))
    
# 초기 num이 3일때 두번째 num 입력값이 4이면 4가 max가 되고, 3이 min이 됨.
# 초기 num이 10일 때 두번째 num 입력값이 5이면 10이 max가 되고, 5가 min이 됨.
# -1을 입력할 때까지 명령문을 계속 실행됨.

if count > 0:
    print("Minimum:", min)
    print("Maximum:", max)
    print("Average:", total/count)
else:
    print("No nonnegative numbers were entered.")
    
    
# count: counter variable
# total: accumulator variable
# -1: sentinel value, 프로그램을 종료할 때 사용되는 값
# the above loop: sentinel-controlled repetition

(Enter -1 to terminate entering numbers.)
Enter a nonnegative number: 2
Enter a nonnegative number: 3
Enter a nonnegative number: 4
Enter a nonnegative number: 5
Enter a nonnegative number: 1
Enter a nonnegative number: 6
Enter a nonnegative number: 7
Enter a nonnegative number: 8
Enter a nonnegative number: 9
Enter a nonnegative number: 10
Enter a nonnegative number: -1
Minimum: 1
Maximum: 10
Average: 5.5

In [12]:
# Ex.4(리스트 내 최소값, 최대값, 평균 구하기)

list1 = [] # 빈 리스트 생성
print("(Enter -1 to terminate entering numbers.)")
num = eval(input("Enter a nonnegative number: "))

while num != -1: # 입력값이 -1이 아닌 경우 명령문을 계속 실행됨.
    list1.append(num) # 빈 리스트에 입력된 num 값을 추가함.
    num = eval(input("Enter a nonnegative number: "))
    
if len(list1) > 0:
    list1.sort()
    print("Minimum:", list1[0])
    print("Maximum:", list1[-1])
    print("Average:", sum(list1) / len(list1))
else:
    print("No nonnegative number were entered.")
    
list1

(Enter -1 to terminate entering numbers.)
Enter a nonnegative number: 1
Enter a nonnegative number: 2
Enter a nonnegative number: 3
Enter a nonnegative number: 4
Enter a nonnegative number: 5
Enter a nonnegative number: 6
Enter a nonnegative number: 7
Enter a nonnegative number: 8
Enter a nonnegative number: 9
Enter a nonnegative number: -1
Minimum: 1
Maximum: 9
Average: 5.0

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# Ex.5

numberOfYears = 0
balance = eval(input("Enter initial deposit: "))
while balance < 1000000:
    balance += .04*balance
    numberOfYears += 1
print("In", numberOfYears, "years you will have a million dollars")

Enter initial deposit: 200000
In 42 years you will have a million dollars

## 2) break 명령문
- break 명령문은 실행문을 중지시키는 역할을 함.
- break 명령문은 일반적으로 if 명령문 안에 나타남.

In [15]:
# Ex.6

list1 = []
print("(Enter -1 to terminate entering numbers.)")

while True:
    num = eval(input("Enter a nonnegative number: "))
    if num == -1:
        break
    list1.append(num)
    
list1

(Enter -1 to terminate entering numbers.)
Enter a nonnegative number: 1
Enter a nonnegative number: 2
Enter a nonnegative number: 3
Enter a nonnegative number: 4
Enter a nonnegative number: 5
Enter a nonnegative number: 6
Enter a nonnegative number: 7
Enter a nonnegative number: 8
Enter a nonnegative number: 9
Enter a nonnegative number: -1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3) continue 명령문
- continue 명령문은 현재 루프 반복이 종료되고, 다음 루프 처음으로 되돌아감.
- continue 명령문은 일반적으로 if문 안에 나타남.

In [18]:
# Ex.7

list1 = ["one", 23, 17.5, "two", 33.5, 22.1, 242.5, "three"]
i = 0
foundFlag = False

while i < len(list1):
    x = list1[i]
    i += 1
    if not isinstance(x, int): # x가 int가 아닌 경우 True
        continue
    if x % 11 == 0: # x가 int이고, 11에 나누어 떨어지는 경우 아래 명령문 실행, 루프 종료
        foundFlag = True
        print(x, "is the first int that is divisible by 11.")
        break
        
    # x가 11로 나누어 떨어지지 않는 경우 루프를 계속 실행
        
if not foundFlag: # foundFlag가 False일 때 아래 명령문 실행, 즉, 11로 나누어 떨어지지 않을 때 명령문 실행
    print("There is no int in the list that is divisible by 11.")

There is no int in the list that is divisible by 11.

In [19]:
# Ex.8

print("Enter a number from the menu to obtain a fact")
print("about the US or to exit the program.\n")
print("1. Capital")
print("2. National Bird")
print("3. National Flower")
print("4. Quit\n")

while True:
    num = int(input("Make a selection from the menu: "))
    if num == 1:
        print("Washington, DC is the capital of the US.")
    elif num == 2:
        print("The American Bald Eagle is the national bird.")
    elif num == 3:
        print("The Rose is the national flower.")
    elif num == 4:
        break

Enter a number from the menu to obtain a fact
about the US or to exit the program.

1. Capital
2. National Bird
3. National Flower
4. Quit

Make a selection from the menu: 1
Washington, DC is the capital of the US.
Make a selection from the menu: 2
The American Bald Eagle is the national bird.
Make a selection from the menu: 4

## 4) 무한루프
- 무한루프는 무한 반복되는 실행문으로 실행이 끝나지 않기 때문에 주의할 필요가 있음.

In [20]:
print("(Enter -1 to terminate entering numbers.)")
number = 0
while number >= 0:
    number = eval(input("Enter a number to square: "))
    number = number*number
    print(number)

(Enter -1 to terminate entering numbers.)
Enter a number to square: 1
1
Enter a number to square: 2
4
Enter a number to square: 3
9
Enter a number to square: 4
16
Enter a number to square: 5
25
Enter a number to square: 6
36
Enter a number to square: 7
49
Enter a number to square: -1
1

KeyboardInterrupt: Interrupted by user

## Chapter 3-4. The for loop
- for 반복문의 형태는 다음과 같음.

In [1]:
# for var in sequence:
#     indented block of statements

- sequence에는 숫자, 문자열, 리스트, 튜플, 파일 등의 객체를 사용할 수 있음.
- sequence에 있는 데이터가 순차적으로 var 변수에 할당이 되고, for문 아래 명령문이 실행됨.
- for문 아래에 있는 명령문은 동일한 들여쓰기(혹은 공백)가진 명령문으로 구성됨.

In [21]:
for i in "hanyang":
    print(i)

h
a
n
y
a
n
g

In [22]:
for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [25]:
for i in (1,2,3,4,5):
    print(i, end=' ')

1 2 3 4 5

## 1) Looping Through an Arithmetic Progression of Numbers
- range(m, n) --> m, m+1, m+2,..., n-1
- range(3, 10) --> 3,4,5,6,7,8,9
- range(-4, 2) --> -4, -3, -2, -1, 0, 1
- range(0, n) equals to range(n)
- the header of the loop: the line beginning of with for
- the loop variable: the variable following the word for
- the body of the loop: the indented block of statements
- the header of the loop에 정의되는 변수는 i, j, k 등으로 표현이 가능하지만, 되도록이면 그 의미를 파악할 수 있는 변수명을 정의하는 것이 좋음.(예: for year in range(2000, 2015))

In [30]:
list1 = list(range(3, 9))
list1

[3, 4, 5, 6, 7, 8]

In [2]:
# Ex.1

for i in range(2, 6):
    print(i, i*i)

2 4
3 9
4 16
5 25

In [31]:
for i in [2,3,4,5]:
    print(i, i*i)

2 4
3 9
4 16
5 25

In [4]:
# Ex.2

pop = 300000
print("{0:10} {1}".format("Year", "Population"))

for year in range(2014, 2019):
    print("{0:<10d} {1: ,d}".format(year, round(pop)))
    pop += 0.03*pop

Year       Population
2014        300,000
2015        309,000
2016        318,270
2017        327,818
2018        337,653

## 2) Step Values for the range Function
- range(m, n, s) --> m, m+s, m+2s, m+3s, m+4s,..., m+rs
- range(3, 10, 2) --> 3, 5, 7, 9
- range(0, 24, 5) --> 0, 5, 10, 15, 20
- range(-10, 10, 4) --> -10, -6, -2, 2, 6
- range(6, 0, -1) --> 6, 5, 4, 3, 2, 1
- range(5, 2, -3) --> 5
- range(10, -10, -4) --> 10, 6, 2, -2, -6

In [32]:
# Ex.3

initialDeposit = eval(input("Enter amount deposited: "))
prompt = "Enter annual rate of interest; such as .02, .03, or .04: "
annualRateOfInterest = eval(input(prompt))
monthlyRateOfInterest = annualRateOfInterest / 12

print("{0}{1:>15}".format("Month", "Balance"))

for i in range(3, 13, 3):
    print("{0:^5d}       ${1:<15,.2f}".format(i, initialDeposit * (1+monthlyRateOfInterest) ** i))

Enter amount deposited: 3000
Enter annual rate of interest; such as .02, .03, or .04: .05
Month        Balance
  3         $3,037.66
  6         $3,075.79
  9         $3,114.39
 12         $3,153.49

## 3) Nested for Loops

In [40]:
# Ex.4

for m in range(1,10):
    for n in range(1,8):
        print(m, 'x', n, '=', m*n, '\t', end = "")
    print()

1 x 1 = 1 	1 x 2 = 2 	1 x 3 = 3 	1 x 4 = 4 	1 x 5 = 5 	1 x 6 = 6 	1 x 7 = 7
2 x 1 = 2 	2 x 2 = 4 	2 x 3 = 6 	2 x 4 = 8 	2 x 5 = 10 	2 x 6 = 12 	2 x 7 = 14
3 x 1 = 3 	3 x 2 = 6 	3 x 3 = 9 	3 x 4 = 12 	3 x 5 = 15 	3 x 6 = 18 	3 x 7 = 21
4 x 1 = 4 	4 x 2 = 8 	4 x 3 = 12 	4 x 4 = 16 	4 x 5 = 20 	4 x 6 = 24 	4 x 7 = 28
5 x 1 = 5 	5 x 2 = 10 	5 x 3 = 15 	5 x 4 = 20 	5 x 5 = 25 	5 x 6 = 30 	5 x 7 = 35
6 x 1 = 6 	6 x 2 = 12 	6 x 3 = 18 	6 x 4 = 24 	6 x 5 = 30 	6 x 6 = 36 	6 x 7 = 42
7 x 1 = 7 	7 x 2 = 14 	7 x 3 = 21 	7 x 4 = 28 	7 x 5 = 35 	7 x 6 = 42 	7 x 7 = 49
8 x 1 = 8 	8 x 2 = 16 	8 x 3 = 24 	8 x 4 = 32 	8 x 5 = 40 	8 x 6 = 48 	8 x 7 = 56
9 x 1 = 9 	9 x 2 = 18 	9 x 3 = 27 	9 x 4 = 36 	9 x 5 = 45 	9 x 6 = 54 	9 x 7 = 63

In [17]:
# Ex.5

numberOfRows = int(input("Enter a number from 1 through 20: "))
for i in range(numberOfRows):
    for j in range(i + 1):
        print("*", end="")
    print()

Enter a number from 1 through 20: 10
*
**
***
****
*****
******
*******
********
*********
**********

## 4) Looping through the characters of a string

- 문자열 시퀀스 데이터도 for문을 이용해 실행문을 작성할 수 있음.

In [21]:
# for ch in str1:
#     indented block of statements

In [41]:
for ch in "hanyang":
    print(ch)

h
a
n
y
a
n
g

In [42]:
# Ex.6

word = input("Enter a word: ")
reverseWord = ""
for ch in word:
    reverseWord = ch + reverseWord
print("The reversed word is "+reverseWord+".")

Enter a word: abcd
The reversed word is dcba.

## 5) Looping through the items of a list or tuple

In [24]:
# for item in listOrTuple:
#     indented block of statements

In [25]:
# Ex.7

months = ("January", "February", "March", "April", "May", "June",
         "July", "August", "September", "October", "November", "December")
for month in months:
    if 'r' in month.lower():
        print(month)

January
February
March
April
September
October
November
December

In [29]:
# Ex.8

months = ["January", "February", "March", "April", "May", "June",
         "July", "August", "September", "October", "November", "December"]
for i in range(len(months)):
    months[i] = months[i][0:3]
print(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [43]:
# Ex.9

ranks = ['2', '3', '4', '5', '6','8', '9',
        '10', 'jack', 'queeen', 'king', 'ace']
suits = ['spades', 'hearts', 'clubs', 'diamonds']
deckOfCards = []

for rank in ranks:
    for suit in suits:
        deckOfCards.append(rank + " of " + suit)
        
for card in deckOfCards:
    print(card)
    
deckOfCards

2 of spades
2 of hearts
2 of clubs
2 of diamonds
3 of spades
3 of hearts
3 of clubs
3 of diamonds
4 of spades
4 of hearts
4 of clubs
4 of diamonds
5 of spades
5 of hearts
5 of clubs
5 of diamonds
6 of spades
6 of hearts
6 of clubs
6 of diamonds
8 of spades
8 of hearts
8 of clubs
8 of diamonds
9 of spades
9 of hearts
9 of clubs
9 of diamonds
10 of spades
10 of hearts
10 of clubs
10 of diamonds
jack of spades
jack of hearts
jack of clubs
jack of diamonds
queeen of spades
queeen of hearts
queeen of clubs
queeen of diamonds
king of spades
king of hearts
king of clubs
king of diamonds
ace of spades
ace of hearts
ace of clubs
ace of diamonds

['2 of spades',
 '2 of hearts',
 '2 of clubs',
 '2 of diamonds',
 '3 of spades',
 '3 of hearts',
 '3 of clubs',
 '3 of diamonds',
 '4 of spades',
 '4 of hearts',
 '4 of clubs',
 '4 of diamonds',
 '5 of spades',
 '5 of hearts',
 '5 of clubs',
 '5 of diamonds',
 '6 of spades',
 '6 of hearts',
 '6 of clubs',
 '6 of diamonds',
 '8 of spades',
 '8 of hearts',
 '8 of clubs',
 '8 of diamonds',
 '9 of spades',
 '9 of hearts',
 '9 of clubs',
 '9 of diamonds',
 '10 of spades',
 '10 of hearts',
 '10 of clubs',
 '10 of diamonds',
 'jack of spades',
 'jack of hearts',
 'jack of clubs',
 'jack of diamonds',
 'queeen of spades',
 'queeen of hearts',
 'queeen of clubs',
 'queeen of diamonds',
 'king of spades',
 'king of hearts',
 'king of clubs',
 'king of diamonds',
 'ace of spades',
 'ace of hearts',
 'ace of clubs',
 'ace of diamonds']

## 6) Looping through the lines of a text file

In [32]:
# infile = open("fileName.txt", 'r')
# for line in infile:
#     indented block of statements
# infile.close()

In [45]:
# Ex.10

firstName = input("Enter a first name: ")
foundFlag = False
infile = open("USPres.txt", 'r')
for line in infile:
    if line.startswith(firstName + ' '):
        print(line.rstrip())
        foundFlag = True
infile.close()
if not foundFlag:
    print("No president had the first name:", firstName + '.')

Enter a first name: James
James Madison
James Monroe
James Knox Polk
James Buchanan
James Abram Garfield

## 7) The pass statement

In [46]:
# Ex.11

# 맨 마지막 줄에 있는 데이터가 표시됨.

infile = open("USPres.txt", 'r')
for line in infile:
    pass
print(line.rstrip())
infile.close()

George W. Bush

## 8) Populating a list with the contents of a text file
- 텍스트 파일을 분석할 때 때로는 텍스트 파일에 있는 내용을 리스트 형태로 변환시켜 사용하면 편리할 때가 있음.

In [48]:
pre = []
infile = open("USPres.txt", 'r')
for line in infile:
    pre.append(line.rstrip())
infile.close()

In [49]:
pre

['George Washington',
 'John Adams',
 'Thomas Jefferson',
 'James Madison',
 'James Monroe',
 'John Quincy Adams',
 'Andrew Jackson',
 'Martin Van Buren',
 'William Henry Harrison',
 'John TyIer',
 'James Knox Polk',
 'Zachary Taylor',
 'Millard Fillmore',
 'Franklin Pierce',
 'James Buchanan',
 'Abraham Lincoln',
 'Andrew Johnson',
 'Ulysses Simpson Grant',
 'Rutherford Birchard Hayes',
 'James Abram Garfield',
 'Chester Alan Arthur',
 'Grover Cleveland',
 'Benjamin Harrison',
 'Grover Cleveland',
 'William McKinley',
 'Theodore Roosevelt',
 'William Howard Taft',
 'Woodrow Wilson',
 'Warren Gamaliel Harding',
 'Calvin Coolidge',
 'Herbert Clark Hoover',
 'Franklin Delano Roosevelt',
 'Harry S Truman',
 'Dwight David Eisenhower',
 'John Fitzgerald Kennedy',
 'Lyndon Baines Johnson',
 'Richard Milhous Nixon',
 'Gerald Rudolph Ford',
 'Jimmy (James Earl) Carter',
 'Ronald Wilson Reagan',
 'George Herbert Walker Bush',
 'Bill (William Jefferson) Clinton',
 'George W. Bush']

In [51]:
infile = open("USPres.txt", 'r')
dataList = [line.rstrip() for line in infile]
infile.close()

dataList

['George Washington',
 'John Adams',
 'Thomas Jefferson',
 'James Madison',
 'James Monroe',
 'John Quincy Adams',
 'Andrew Jackson',
 'Martin Van Buren',
 'William Henry Harrison',
 'John TyIer',
 'James Knox Polk',
 'Zachary Taylor',
 'Millard Fillmore',
 'Franklin Pierce',
 'James Buchanan',
 'Abraham Lincoln',
 'Andrew Johnson',
 'Ulysses Simpson Grant',
 'Rutherford Birchard Hayes',
 'James Abram Garfield',
 'Chester Alan Arthur',
 'Grover Cleveland',
 'Benjamin Harrison',
 'Grover Cleveland',
 'William McKinley',
 'Theodore Roosevelt',
 'William Howard Taft',
 'Woodrow Wilson',
 'Warren Gamaliel Harding',
 'Calvin Coolidge',
 'Herbert Clark Hoover',
 'Franklin Delano Roosevelt',
 'Harry S Truman',
 'Dwight David Eisenhower',
 'John Fitzgerald Kennedy',
 'Lyndon Baines Johnson',
 'Richard Milhous Nixon',
 'Gerald Rudolph Ford',
 'Jimmy (James Earl) Carter',
 'Ronald Wilson Reagan',
 'George Herbert Walker Bush',
 'Bill (William Jefferson) Clinton',
 'George W. Bush']

In [54]:
infile = open("Data2.txt", 'r')
dataList1 = [eval(line) for line in infile]
infile.close()

dataList1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]